@import 'module.css';
/*@import 'gs-bootstrap.css';*/

html { font: 400 12px "Open Sans",arial,sans-serif; }

body {
	padding: 60px 0 30px;
	margin: 0;
	color: #333;
	font: 400 12px/1 Arial, Helvetica,'hiragino sans gb',sans-serif;
	background-color: white; }

a {
	color: #245dc1;
	text-decoration: none; }
	a:hover {
		color: #245dc1;
		text-decoration: underline; }

fieldset {
	border: none;
	padding: 0; }

legend {
	display: block;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	padding-bottom: 10px;
	margin-bottom: 10px; }

figure {
	line-height: 0; }

p {
	line-height: 1.5; }

mark {
	color: #ff6861;
	font-weight: bold;
	background-color: #ffefef; }

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
textarea {
	font-family: arial, sans-serif;
	font-size: 13px;
	font-weight: bold;
	padding: 3px 5px;
	outline: 0 none;
	border-style: solid;
	border-width: 1px;
	border-color: #bebebe;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
	-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
	-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .1) inset;
	background-color: white; }

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff; }





.navbar-fixed-top{
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 99999; }
	.navbar .navbar-inner {
		font-size: 12px;
		padding: 10px 0;
		background-color: rgba(255, 255, 255, .9); }
	.navbar a {
		display: block;
		color: #63666a;
		font-weight: bold;
		padding: 8px 10px; }
		.navbar a i[class^="icon-"] {
			color: #111; }
	.navbar .brand {
		display: block;
		float: left;
		color: #245dc1;
		font-family: 'dejavu sans', 'arial bold', sans-serif;
		font-size: 20px;
		line-height: .8;
		padding: 8px 0;
		margin-right: 20px; }
		.navbar .brand + .nav a {
			padding: 8px 13px; }

	.navbar .nav {
		float: left; }
		.navbar .nav .user {
			position: relative;
			display: block;
			margin-left: 10px;
			width: 24px;
			height: 12px; }
			.navbar .user i {
				color: grey;
				font-size: 13px;
				position: absolute;
				left: 5px;
				top: 7px; }
			.navbar .user .avatar {
				width: 24px;
				height: 24px;
				line-height: 1;
				position: absolute;
				top: 2px;
				right: 2px; }

			.navbar .nav.account {
				float: right;
				font-size: 12px;
				margin-right: 0; }
			.navbar .dropdown-menu h2,
			.navbar .dropdown-menu .email {
				padding: 0 20px;
				margin: 10px 0; }
			.navbar .dropdown-menu h2 {
				font-size: 14px; }
			.navbar .dropdown-menu .email {
				color: #919191;
				font-size: 13px;
				font-style: italic; }
			.navbar .dropdown-menu .nav-list {
				border-top: 1px solid #ddd;
				padding-top: 5px; }
			.navbar .dropdown-menu .nav-list a {
				padding: 0;
				color: #696969;
				font-weight: bold; }
			.navbar .dropdown-menu .nav-list a i {
				color: #696969; }
			.navbar .open .dropdown-toggle {
				background-color: white;
				background-image: none;
				border-bottom: none;
				border-radius: 1px 1px 0 0;
				-moz-border-radius: 1px 1px 0 0;
				-webkit-border-radius: 1px 1px 0 0;
				-o-border-radius: 1px 1px 0 0; }

	

		.banner {
			text-align: center;
			padding: 10px 0; }
			.banner h1 {
				font-size: 4em;
				line-height: 1;
				margin: 10px 0; }
			.banner h1 + p {
				color: #919191;
				font-size: 16px;
				line-height: 1.4;
				margin: 10px; }
	
	.welcome-details { 
		margin: 30px 0;}
		.welcome-details li {
			width: 23.3333333%;
			padding: 0 10% 0 0;
			min-height: 130px;
			margin-bottom: 10px; }
		.welcome-details h2 {
			font-size: 16px;
			line-height: 1.2;
			margin: 5px 0; }
		.welcome-details p {
			color: #919191;
			font-size: 12px; }


.repo-container {
	padding: 0;
	background-color: white; }

.repo-header{
	color: rgba(0, 0, 0, .75);
	padding: 21px 20px 20px;
	border-bottom: 1px solid #bbb9b9; }
	.repo-header a {
		color: #454545; }
	.repo-actions-bar {
		position: relative; }
		.repocrumb {
			float: left;
			font-size: 20px;
			font-weight: bold;
			padding: 5px 0;
			margin: 0; }
			.repocrumb li {
				float: left; }
			.repocrumb li sup {
				color: rgba(0, 0, 0, .35);
				margin-left: 5px; }
			.repocrumb .divider {
				color: rgba(0, 0, 0, .35);
				font-size: .85em;
				font-weight: 400;
				margin: 0 5px; }
				.repocrumb .divider i {
					margin-right: 0; }
			.repocrumb .user a {
				font-weight: 400; }

		.repo-actions {
			float: right;
			margin: 1px 0; }
			.repo-actions li {
				float: left;
				font-size: 13px;
				margin: 0 1px;
				position: relative; }
				.repo-actions li .btn {
					display: block;
					color: #919191;
					font-weight: bold;
					line-height: 25px;
					padding: 0 8px;
					height: 25px; }
					.repo-actions li .btn:hover {
						color: #454545; }
				.repo-actions .btn-group .btn {
					float: left; }
				.repo-actions .btn-group .btn.first {
					border-right: 0;
					border-radius: 2px 0 0 2px;
					-moz-border-radius: 2px 0 0 2px;
					-webkit-border-radius: 2px 0 0 2px;
					-o-border-radius: 2px 0 0 2px; }
				.repo-actions .btn-group .btn.last {
					border-radius: 0 2px 2px 0;
					-moz-border-radius: 0 2px 2px 0;
					-webkit-border-radius: 0 2px 2px 0;
					-o-border-radius: 0 2px 2px 0; }
				.repo-actions .btn-group .btn.count {
					font-size: 11px;
					background-color: white;
					background-image: none;
					font-weight: bold; }

			.description {
				color: #717171;
				padding: 0;
				position: relative; }
				.description a {
					color: #245dc1; }
				.description p {
					margin: 0; }
				.repo-admin-edit {
					display: none;
					position: absolute;
					right: 10px;
					bottom: 0; }
				.repo-admin-edit .btn {
					display: block;
					float: left;
					font-size: 10px;
					margin-left: 2px; }



.sidenav {
	float: right;
	width: 50px; }
	.sidenav .nav {
		padding: 10px 0; }
		.sidenav .nav-list a {
			border-left: 0 none;
			border-right: 2px solid transparent; }
			.sidenav .nav-list a:hover {
				color: #333;
				border-right-color: #3a9f00; }
			.sidenav .nav-list a span {
				padding: 8px 0; }
				.sidenav .nav-list a:hover span {
					border-color: #e4e4e4 transparent #e4e4e4;
					background-color: #f5f5f5; }
			.sidenav .nav-list .active a {
				color: #333;
				border-color: #e4e4e4 #3a9f00 #e4e4e4 transparent;
				background-color: #e9e9e9; }
			.sidenav .nav-list i {
				line-height: 1.5;
				font-size: 16px;
				text-shadow: 0 1px 0 rgba(255, 255, 255, .95);
				margin-right: 0; }
	.sidenav .nav a {
		color: #919191;
		display: block;
		text-align: center; }

.repo-main {
	position: relative;
	float: left;
	width: 869px;
	padding: 20px;
	min-height: 300px;
	background-color: #e9e9e9;
	border-right: 1px solid #d5d5d5; }




		.repo-clone-url {
			position: relative;
			margin-top: -20px;
			margin-bottom: 20px;
			border-style: solid;
			border-width: 0 1px 1px;
			border-color: transparent #d5d5d5 #d5d5d5;
			background-color: #f5f5f5; }
			.repo-clone-url #toggle-arrow {
				color: #737373;
				text-decoration: none;
				text-align: center;
				position: absolute;
				top: -14px;
				left: -30px;
				margin-left: 50%;
				width: 60px;
				height: 13px;
				border-radius: 2px 2px 0 0;
				-moz-border-radius: 2px 2px 0 0;
				-webkit-border-radius: 2px 2px 0 0;
				-o-border-radius: 2px 2px 0 0;
				background-color: #ddd; }
			.repo-clone-url #toggle-arrow:hover {
				color: white;
				background-color: #666; }
			.repo-clone-url #toggle-arrow i {
				margin-right: 0; }
			.clone-url {
				margin: 10px; }
			.clone-url dt,
			.clone-url dd {
				margin: 0;
				float: left; }
			.repo-clone-url .url-select,
			.repo-clone-url .url {
				display: block;
				color: #183d8a;
				float: left;
				font-weight: bold;
				text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
				-moz-text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
				-webkit-text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
				-o-text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
				padding: 10px;
				margin-right: -1px;
				border: 1px solid #3a5ca4;
				background-color: #436abc;
				box-shadow: 1px 1px 0 rgba(255, 255, 255, .1) inset;
				-moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, .1) inset;
				-webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, .1) inset;
				-o-box-shadow: 1px 1px 0 rgba(255, 255, 255, .1) inset;
				cursor: pointer; }
			.repo-clone-url .url-select.active,
			.repo-clone-url .url-select:hover {
				text-decoration: none;
				background-color: #5074c2;
				border-color: #3a5ca4;  }
			.repo-clone-url .url-select.first {
				border-radius: 2px 0 0 2px;
				-moz-border-radius: 2px 0 0 2px;
				-webkit-border-radius: 2px 0 0 2px;
				-o-border-radius: 2px 0 0 2px; }
			.repo-clone-url .url-select.last {
				border-radius: 0 2px 2px 0;
				-moz-border-radius: 0 2px 2px 0;
				-webkit-border-radius: 0 2px 2px 0;
				-o-border-radius: 0 2px 2px 0; }
			.repo-clone-url .url {
				color: rgba(255, 255, 255, .8);
				text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
				-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
				-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
				-o-text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
				width: 500px; }

			.repo-clone-url .url-holder {
				font-family: menlo, sans-serif; }
				.repo-clone-url .url-git,
				.repo-clone-url .url-gitshell {
					color: rgba(255, 255, 255, .55); }
			.repo-clone-url .url-js-copy {
				color: #183d8a;
				text-decoration: none;
				font-weight: bold; }
			.repo-clone-url .url-info {
				position: relative;
				float: left;
				color: white;
				font-weight: bold;
				padding: 6px 10px;
				margin: 4px auto auto 10px;
				border: 1px solid #d83912;
				border-radius: 2px;
				-moz-border-radius: 2px;
				-webkit-border-radius: 2px;
				-o-border-radius: 2px;
				background-color: #ef4012; }
			.repo-clone-url .url-info:before {
				position: absolute;
				top: 8px;
				left: -5px;
				content: "";
				border-style: solid;
				border-width: 5px 5px 5px 0;
				border-color: transparent #ef4012 transparent transparent; }






			.repo-tabs {
				position: relative;
				z-index: 9999;
				margin: 0 0 -1px; }
				.repo-tabs li {
					float: left;
					text-align: center; }
					.repo-tabs li a {
						display: block;
						color: #919191;
						font-size: 12px;
						font-weight: bold;
						padding: 12px 25px;
						border-style: solid;
						border-width: 1px 0 1px 1px;
						border-color: #c8cbc9 #c8cbc9 #c8cbc9;
						background-color: white; }
						.repo-tabs li a .label {
							opacity: .6;
							padding-left: 5px;
							padding-right: 5px;
							border-radius: 2px;
							-moz-border-radius: 2px;
							-webkit-border-radius: 2px;
							-o-border-radius: 2px;
							margin-left: 5px; }
						.repo-tabs li a:hover {
							text-decoration: none; }
						.repo-tabs .active a {
							color: #454545;
							border-style: solid;
							border-width: 1px 0 1px 1px;
							border-color: #3d9f00 #c8cbc9 #f8f7fb;
							box-shadow: 0 1px 0 #3d9f00 inset;
							-moz-box-shadow: 0 1px 0 #3d9f00 inset;
							-webkit-box-shadow: 0 1px 0 #3d9f00 inset;
							-o-box-shadow: 0 1px 0 #3d9f00 inset;
							background-color: #f5f5f5; }
							.repo-tabs .active a .label {
								opacity: 1; }
						.repo-tabs .last a {
							border-right: 1px solid #c8cbc9; }








		.repo-body {
			position: relative;
			border: 1px solid #d5d5d5;
			background-color: #f5f5f5; }

			.table p.info {
				color: #ff6861;
				font-weight: bold;
				margin: 25px 5px; }




			.repo .bubble-header {
				padding: 10px;
				font-size: 16px; }

				.repo-body .branches {
					font-size: 12px;
					float: left;
					margin-right: 10px; }
					.branches .dropdown-toggle {
						position: relative;
						display: block;
						border: none;
						padding-right: 9px;
						background: transparent url('/static/img/path-bg.png') right 0 no-repeat; }
						.branches .dropdown-toggle:hover {
							text-decoration: none; }
						.branches .dropdown-toggle-inner {
							display: block;
							height: 26px;
							line-height: 26px;
							padding-left: 10px;
							background: transparent url('/static/img/path-bg.png') left -26px no-repeat; }
					.branches .branch {
						font-weight: 400;
						color: rgba(255, 255, 255, .65); }
					.branches .branch-name {
						color: white;
						font-weight: bold; }
					.branches [class^="icon-"] {
						color: #348600;
						padding: 1px 3px;
						line-height: 1;
						display: inline-block;
						border: 1px solid #348600;
						border-radius: 2px;
						-moz-border-radius: 2px;
						-webkit-border-radius: 2px;
						-o-border-radius: 2px;
						background-color: rgba(255, 255, 255, .45); }

				.branches .dropdown-menu {
					width: 220px;
					margin: 0;
					left: 0;
					top: 100%; }
				.branches .dropdown-menu a {
					position: relative;
					display: block;
					font-size: 12px;
					font-weight: bold;
					color: #616161; }
					.branches .master a {
						color: #454545; }
					.branches .master a span {
						border-bottom-color: #eee; }
					.branches .active i[class^="icon-"] {
						background: none;
						position: absolute;
						border: 0 none;
						top: 9px;
						right: 5px;
						font-size: 11px;
						padding: 1px 2px; }

					.repo .breadcrumb {
						display: inline-block;
						padding-right: 9px;
						height: 26px;
						line-height: 26px;
						font-size: 12px;
						font-weight: bold; 
						background: transparent url('/static/img/path-bg.png') right 0 no-repeat; }
						.repo .breadcrumb li {
							position: relative;
							padding: 0 21px 0 15px;
							background: transparent url('/static/img/path-bg.png') left -26px no-repeat; }
						.repo .breadcrumb .active {
							color: white;
							padding-right: 6px;
							background-position: -1px -26px; }
						.repo .breadcrumb a {
							color: rgba(255, 255, 255, .65); }
						.repo .breadcrumb .divider {
							color: rgba(255, 255, 255, .45);
							display: inline-block;
							position: absolute;
							top: 0;
							right: 0;
							width: 6px;
							height: 26px;
							margin: 0;
							background: transparent url('/static/img/path-bg.png') 0 -52px no-repeat; }


				.repo .bubble-header .repo-name {
					font-size: 16px;
					line-height: 25px;
					margin: 0;
					float: left; }
					.repo .bubble-header .repo-name a {
						color: #333; }

				.repo .bubble-header form {
					margin: 0; }

				.repo .title em {
					color: #a1a1a1;
					font-weight: 400;
					font-size: .75em;
					margin-left: 20px; }

				.repo .repo-list {
					float: left;
					margin: 0 30px 0 30px; }
				.repo .repo-list li {
					float: left;
					font-size: .75em;
					line-height: 1;
					padding: 3px 10px; }

					.extra{
						font-size: 12px;
						padding: 1px 8px;
						margin: 0;
						float: right;
						border-radius: 25px; }
						.extra [class^="icon-"],
						.extra a {
							color: #333; }
						.extra [class^="icon-"] {
							margin-right: 0; }


				.issues .issues-header {
					margin: 0; }
					.issues-header a {
						text-decoration: none; }
					.issues-header .label {
						float: left;
						padding: 3px 15px;
						margin: 2px;
						font-size: 12px;
						line-height: 1.4;
						font-weight: bold; }
					.new-issue a.btn {
						font-size: 14px;
						font-weight: bold;
						display: inline-block; }

				.issues .bubble-header { }
				.issues .table {
					color: #888;
					margin: 0; }
					.issues .table th {
						color: #333;
						background: none;
						font-size: 12px; }
					.issues .table td {
						padding: 0; }
					.issues .table .issue-creater {
						width: 20px;
						padding: 8px 10px; }
					.issues .table .issue-container {
						position: relative;
						font-size: 12px;
						padding: 8px 0;
						width: 818px; }

					.issues .table .issue-inner .label a {
						color: #333; }
					.issues .table .issue-inner p {
						margin: 0; }
					.issues .table .issue-labels {
						color: #888;
						font-size: 11px;
						margin: 3px 10px 0; }
					.issues .issue-container span.issue-id {
						display: inline-block;
						font-weight: bold;
						width: 35px; }


					.issues .issue-container span.issue-date {
						position: absolute;
						top: 0;
						right: 0;
						padding: 1px 5px;
						background-color: #eee;
						border-style: solid;
						border-width: 0 0 1px 1px;
						border-color: transparent transparent #d5d5d5 #d5d5d5;
						border-radius: 0 0 0 2px;
						-moz-border-radius: 0 0 0 2px;
						-webkit-border-radius: 0 0 0 2px;
						-o-border-radius: 0 0 0 2px; }
						.issues .issue-container span.issue-date .unixtime {
							font-size: 11px;
							color: #aaa; }
					.issues .issue-container a.txt {
						display: inline-block;
						line-height: 1.3;
						color: #535353;
						font-weight: bold;
						font-size: 13px; }

					.issues .table .issue-labels > span {
						color: #999;
						padding: 2px 5px;
						margin-right: 5px;
						border-color: #e3e3e3; }
					.issues .table .issue-labels a {
						color: #999; }
					.issues .table .issue-labels span i {
						color: #aaa; }






				.issues .pagination {
					padding: 15px 10px;
					margin: 0; }
					.issues .pagination li {
						margin: 0 5px; }
					.issues .pagination a,
					.issues .pagination .active {
						display: inline-block;
						font-weight: bold;
						padding: 5px; }




				.repo {
					color: #212121; }


					.repo .table {
						margin: 0; }
					.repo .table td {
						font-family: Helvetica, arial, freesans, clean, sans-serif;
						vertical-align: middle;
						border-top: 1px solid #f0f1f4;
						border-bottom: 1px solid #f0f1f4;
						padding: 4px 10px; }
						.repo .table .c_diff {
							display: none; }
					.repo .table .icon {
						color: #777;
						font-size: 14px;
						width: 1.5%; }
					.repo .table .file-name {
						padding-left: 0;
						font-weight: bold;
						width: 17%; }
					.repo .commit-info {
						width: 71.5%; }
					.repo a.commit {
						color: #888; }
						.repo a.commit:hover {
							color: #245dc1; }
					.repo .commiter {
						color: #888;
						border-bottom: 1px solid #ddd;
						margin-right: 10px; }
						.repo .commiter:hover {
							text-decoration: none;
							border-bottom-color: #919191; }
					.repo td.date {
						color: #888;
						text-align: right;
						width: 10%; }

					.repo .table td.commit {
						vertical-align: middle;
						padding: 8px 10px; }
					.repo .commit .avatar img {
						border-radius: 2px; }
					.repo .commit .msg,
					.repo .commit .muted {
						line-height: 1;
						margin: 0; }
					.repo .commit .msg a {
						color: #666; }
					.repo .commit .muted {
						margin-top: 5px;
						font-size: 11px; }
					.repo .commit .muted a {
						font-weight: 400;
						color: #999; }
					.repo .commit .date {
						color: #ccc; }
					.repo .hash {
						font-weight: bold;
						text-align: right; }


						.repo .member {
							padding: 15px 10px;
							border-bottom: 1px solid #f3f3f3; }
							.repo .member p {
								word-break:hyphenate; }
							.repo .name a {
								color: #212121;
								font-weight: bold;
								line-height: 1; }
							.repo .name .tweet,
							.repo .name .muted {
								color: #999;
								font-size: .9em;
								font-style: italic; }
							.repo .muted i[class^="icon-"] {
								margin-right: 3px; }
							.repo .muted .divider {
								display: inline-block;
								color: #ddd;
								margin: 0 5px; }

						.repo .member .actions li {
							font-size: .8em;
							margin: 0 -1px; }
							.repo .member .label {
								color: #666;
								font-weight: bold;
								text-shadow: none;
								-moz-text-shadow: none;
								-webkit-text-shadow: none;
								-o-text-shadow: none;
								padding: 3px 5px;
								border: 1px solid #e6e6e6;
								border-radius: 2px;
								-moz-border-radius: 2px;
								-webkit-border-radius: 2px;
								-o-border-radius: 2px;
								background-color: white; }
								.repo .member .label:hover {
									color: #999;
									border-color: #bbb; }
							.repo .member .label i[class^="icon-"] { }
							.repo .member .label span {
								color: #00b075;
								font-size: 1em;
								font-weight: bold;
								margin-right: 5px; }

						.repo .msg {
							font-weight: bold; }


						.pull-request-form {
							margin-bottom: 20px;
							border-bottom: 1px solid #d8d8d8; }
						.repo .repo-refs {
							width: 50%;
							margin-left: 0;
							padding: 20px 0;
							position: relative; }
						.repo .repo-refs:first-child {
							background-color: white; }
							.repo .repo-refs:first-child:after {
								content: "";
								width: 0;
								height: 0;
								border-style: solid;
								border-width: 15px;
								border-color: transparent transparent transparent white;
								position: absolute;
								top: 40px;
								right: -30px;
								z-index: 999; }

						.repo .repo-refs:last-child {
							background-color: white; }
							.pull-request-form .control-group {
								width: 350px;
								margin: 0 auto; }
							.pull-request-form input,
							.pull-request-form select {
								width: 350px;
								border: 1px solid #ddd;
								border-radius: 1px;
								line-height: 26px;
								height: 26px; }
							.pull-request-form .control-label {
								color: #222;
								font-weight: bold;
								width: 50px;
								margin-bottom: 10px; }
							.pull-request-form .controls {
								margin-left: 60px; }



				.setting .inner {
					width: 85%;
					padding: 30px 0;
					margin: 0 auto; }
				.setting .control-label {
					width: 100px; }
				.setting .controls {
					margin-left: 120px; }
					.setting .inner p.info {
						text-indent: 120px; }



	/* Login */
	.login .bubble-header .title,
	.join .bubble-header .title {
		font-size: 2em; }

	.login .form,
	.join .form {
		width: 379px;
		margin: 0 auto 50px; }
	.login .checkbox {
		display: inline-block;
		padding: 10px 20px 10px 0; }
	.login .checkbox input {
		display: inline-block;
		font-size: 12px;
		margin-right: 10px; }
		.login form input[type="checkbox"] {
			margin: 2px 0 0; }
	.login .title,
	.join .title {
		color: #111;
		font-size: 20px;
		font-style: normal;
		margin: 10px 0; }
	.login .btn,
	.join .btn {
		display: block;
		text-align: center;
		padding: 15px 0; }
	.login .well p,
	.join .well p {
		text-align: left;
		margin-top: 0; }


	/* settings */
	.sidebar {
		width: 23%;
		float: left; }
		.sidebar .nav-list {
			border-radius: 1px;
			-moz-border-radius: 1px;
			-webkit-border-radius: 1px;
			-o-border-radius: 1px; }
		.sidebar .nav-list li {
			padding: 8px 12px; }
			.sidebar .nav-list li.active {
				background: transparent url('/static/img/sidebar-bg.png') top left no-repeat; }
				.sidebar .nav-list li.active a {
					color: white; 
					font-weight: bold;
					text-decoration: none; }
		.sidebar .nav-list a {
			color: #245dc1;
			border: none;
			font-weight: bold; }
			.sidebar .nav .leader {
				color: #121212;
				font-size: 13px;
				font-weight: bold;
				text-transform: capitalize;
				padding: 6px 0;
				margin: 20px 0 0; }
			.sidebar .nav .leader:first-child {
				margin-top: 0; }

				.sidebar .repo-count {
					padding: 0 30px 0 12px; }
				.sidebar .repo-count h4 {
					font-size: 10px;
					color: #919191;
					margin: 20px 0 5px; }
					.sidebar .repo-count h4 span {
						font-size: 11px; }
					.sidebar .repo-count h4 .used {
						margin-left: 10px; }
					.sidebar .repo-count h4 .divider {
						color: #cdcdcd;
						margin: 0 3px; }
				.sidebar .destroy-account p {
					font-size: 14px;
					line-height: 1.8; }

		.sidebody {
			width: 77%;
			float: left;
			min-height: 400px; }
		.sidebody .inner {
			position: relative;
			background: #f7f8fb url('/static/img/inner-top-bg.png') top left repeat-x;
			padding: 21px 10px 15px;
			box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
			-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
			-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
			-o-box-shadow: 0 2px 7px rgba(0, 0, 0, .25); }

			.sidebody .title {
				display: block;
				font-size: 16px;
				width: 100%;
				margin-top: 0;
				margin-bottom: 10px; }
				.sidebody .title small {
					color: #919191;
					font-weight: 400;
					margin-left: 20px; }
			.sidebody .form legend small {
				color: #919191;
				font-weight: 400;
				margin-left: 20px; }

			.sidebody .control-group {
				margin-bottom: 5px; }
			.sidebody .control-label {
				color: #111;
				font-size: 12px;
				font-weight: bold;
				padding: 10px 0; }
				.sidebody .controls input[type="text"],
				.sidebody .controls input[type="password"],
				.sidebody .controls input[type="email"],
				.sidebody .controls input[type="url"],
				.sidebody .controls textarea {
					border-color: #ccc;
					box-shadow: none;
					-moz-box-shadow: none;
					-webkit-box-shadow: none;
					-o-box-shadow: none;
					margin: 0;
					height: 21px;
					width: 340px; }
				.sidebody .controls {
					margin-left: 110px; }
				.sidebody .controls textarea {
					height: 100px; }
				.sidebody .controls .btn {
					display: inline-block;
					padding: 7px 10px; }
				.sidebody .form button[type="submit"] {
					width: 100px; }
				.sidebody .controls p {
					margin: 3px;
					color: grey; }

				.sidebody .ssh {
					margin: 20px 0 50px; }
				.sidebody .ssh th {
					padding: 8px 10px; }
				.sidebody .ssh td {
					border-color: #f0f1f4;
					padding: 8px 10px; }
				.sidebody .ssh .name {
					font-weight: bold; }
				.sidebody .ssh .md5 {
					color: #616161;
					font-family: menlo, sans-serif;
					letter-spacing: -1px;
					font-weight: bold; }
				.sidebody .ssh .action {
					font-size: .8em; }


			.sidebody .helps section {
				color: #636363;
				margin-bottom: 50px;
				line-height: 1.65; }
				.sidebody .helps section:first-child {
					padding-top: 0;
					margin-top: 0; }
			.sidebody .helps section a {
				text-decoration: underline; }
				.sidebody .helps section h2 {
					color: #212121;
					font-size: 14px;
					line-height: 1;
					margin: 0; }
				.sidebody .helps dl.faq dt {
					font-size: 14px;
					margin-bottom: 5px; }
				.sidebody .helps .well {
					font-weight: bold;
					padding: 5px 15px;
					margin-bottom: 15px;
					margin-left: 0;
					border-style: solid;
					border-width: 1px 1px 1px 2px;
					border-color: #ebebeb #ebebeb #cecece #3190D3;
					background-color: #fbfbfb; }
				.sidebody .helps section .label {
					color: #454545;
					font-weight: bold;
					text-shadow: none;
					-moz-text-shadow: none;
					-webkit-text-shadow: none;
					-o-text-shadow: none;
					margin: 0 5px;
					background-color: #f9f9f9;
					border: 1px solid #ebebeb; }
				.sidebody .helps section ol,
				.sidebody .helps section ul,
				.sidebody .helps section dl {
					margin-top: 10px;
					margin-bottom: 10px; }
					.sidebody .helps section ul .leader {
						font-weight: bold;
						margin-right: 10px; }
					.sidebody .helps .http-error h3 {
						color: #b94a48;
						font-size: 18px;
						line-height: 1.2; }
					.sidebody .helps .http-error h3 + p {
						color: #919191; }
					.sidebody .helps section dl dt {
						font-weight: bold; }

				





	.footer {
		font-size: 12px;
		margin: 20px 0; }
		.footer a {
			color: #aaa; }
		.footer .nav {
			margin-bottom: 0;
			padding: 6px 0;
			margin: 0; }
			.footer .nav a {
				font-weight: bold;
				margin-right: 20px; }
		.footer .copyright {
			color: #ccc;
			font-style: italic;
			margin: 0; }


