@import 'normalize.css';
@import 'module.css';

@import 'modules/reset.css';

@import 'modules/navbar.css';
@import 'modules/sidenav.css';

@import 'modules/repo-header.css';

@import 'modules/url-container.css';
@import 'modules/repo-tabs.css';

@import 'modules/repo-files.css';

@import 'modules/settings.css';


.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="phone"] {
	display: block;
	color: #333;
	width: 361px; /*(359px - 8*2* - 2px)*/
	height: 30px;
	margin-bottom: 5px; }
.form button[type="submit"] {
	display: block;
	font-size: 16px;
	width: 379px;
	padding-top: 10px;
	padding-bottom: 10px; }
.form p {
	font-size: 12px;
	text-align: center;
	color: #919191;
	font-style: italic; }



.banner {
	text-align: center;
	padding: 10px 0; }
	.banner h1 {
		font-size: 4em;
		line-height: 1;
		margin: 10px 0; }
	.banner h1 + p {
		color: #919191;
		font-size: 16px;
		line-height: 1.4;
		margin: 10px; }

.welcome-details { 
margin: 30px 0;}
.welcome-details li {
	width: 23.3333333%;
	padding: 0 10% 0 0;
	min-height: 130px;
	margin-bottom: 10px; }
.welcome-details h2 {
	font-size: 16px;
	line-height: 1.2;
	margin: 5px 0; }
.welcome-details p {
	color: #919191;
	font-size: 12px; }




/*========================================
 * REPO CSS 
 * =====================================*/

.repo {
	background-color: white; }

p.info {
	color: #ff6861;
	font-weight: bold;
	margin: 25px 20px; }

.repo .bubble-inner {
	position: relative;
	float: left;
	width: 909px;
	padding: 20px;
	min-height: 300px;
	background-color: #e9e9e9;
	border-right: 1px solid #d5d5d5; }

	.repo .inner-container { /* CONTENT */
		position: relative;
		border: 1px solid #d5d5d5;
		background-color: #f5f5f5; }
		.repo .inner-container .header { /* CONTENT HEADER */
			padding: 10px;
			border-bottom-color: #d5d5d5; }
		.repo .inner-container .footer { /* CONTENT FOOTER */
			padding: 5px 10px;
			margin: 0; }

		.repo .pagination { }
			.repo .pagination li {
				margin: 0 5px; }
			.repo .footer .pagination a,
			.repo .footer .pagination .active {
				display: inline-block;
				color: #454545;
				font-weight: bold;
				padding: 5px;
				margin: 0; }


		/* .inner-container > COMMITS */
		.commites { }
			.commit {
				border-bottom: 1px solid #f0f1f4;
				position: relative; }
			.commit .commiter {
				padding: 5px 1.5%;
				width: 82%; }
				.commit .commiter .meta a {
					color: #919191; }
			.commit .hash {
				padding: 15px 0;
				width: 15%; }
				.commit .hash a {
					margin-right: 10px; }

		/* .inner-container > ISSUES */
		.issues { }
			.issues .issues-header .label {
				font-size: 12px;
				font-weight: bold;
				padding: 5px 15px;
				margin-bottom: 5px; }
			.issue {
				margin-top: -1px;
				border-top: 1px solid #e5e5e5;
				border-bottom: 1px solid #e5e5e5; }
				.issue .avatar {
					width: 20px;
					padding: 8px 10px; }
				.issue .data {
					width: 857px;
					padding: 8px 10px 8px 0;
					position: relative; }
				.issue h4.title {
					display: inline-block;
					font-size: 12px; }
				.issue h3.title {
					font-size: 20px;
					line-height: 1; }
					.issue h3.title .label {
						font-size: 14px;
						padding: 3px 5px;
						margin-right: 10px; }
				.issue .data p {
					font-size: 13px; }
				.issue .data .meta {
					color: #999;
					font-size: 12px; }
					.issue .data .meta .creater,
					.issue .data .meta .assigner {
						margin-right: 10px; }
					.issue .data .meta .creater a,
					.issue .data .meta .assigner a {
						color: #999;
						margin-left: 3px; }
					.issue .data .meta .label {
						color: #999;
						padding: 1px 4px;
						background-color: white; }

				.issue .data .actions {
					float: right; }

				.issue .date {
					position: absolute;
					top: 0;
					right: 0;
					color: #aaa;
					font-size: 11px;
					padding: 2px 5px;
					background-color: #eee;
					border-style: solid;
					border-width: 0 0 1px 1px;
					border-color: transparent transparent #d5d5d5 #d5d5d5;
					border-radius: 0 0 0 2px;
					-moz-border-radius: 0 0 0 2px;
					-webkit-border-radius: 0 0 0 2px;
					-o-border-radius: 0 0 0 2px; }
				.issue a.txt {
					display: inline-block;
					line-height: 1.3;
					color: #535353;
					font-weight: bold;
					font-size: 13px; }
				.repo .header .new-issue-btn {
					color: white;
					font-weight: bold; }

				.issues .header h1 {
					font-size: 20px; }
				.issues .header h1,
				.issues .header p {
					margin: 10px 0 0; }
				.issues form.issue {
					padding: 10px; }
					.issues form.issue .fields {
						padding: 0 0 10px; }
						.issues form.issue .fields select {
							font-weight: bold;
							line-height: 25px;
							padding: 2px 2px; }
						.issues form.issue .fields span {
							font-weight: bold; }
						.issues form.issue .fields .label-category {
							margin-left: 30px; }
						.issues form.issue textarea {
							display: block;
							width: 750px;
							min-width: 750px;
							max-width: 750px;
							min-height: 120px;
							margin-bottom: 10px; }
							.issues form.issue .btn {
								font-size: 14px;
								font-weight: bold;
								padding: 10px 25px; }

				.issues .comment {
					border-bottom: 1px solid #e5e5e5; }
				.issues .comment .avatar {
					width: 32px; }
				.issues .comment .info {
					float: left;
					width: 845px; }
				.issues .comment .info .comment-data {
					position: relative;
					border: 1px solid #e5e5e5;
					border-radius: 3px;
					-moz-border-radius: 3px;
					-webkit-border-radius: 3px;
					-o-border-radius: 3px;
					background-color: white;
					padding: 10px;
					margin: 0 0 7px; }
					.issues .comment .info .comment-data:before {
						content: "";
						border-style: solid;
						border-width: 6px 6px 6px 0;
						border-color: transparent #d5d5d5 transparent transparent;
						position: absolute;
						top: 4px;
						left: -6px; }
					.issues .comment .info .comment-data:after {
						content: "";
						border-style: solid;
						border-width: 4px 4px 4px 0;
						border-color: transparent #fff transparent transparent;
						position: absolute;
						top: 5px;
						left: -4px; }
				.issues .comment .meta {
					color: #999; }
					.issues .comment .meta > * {
						margin-right: 10px; }
					.issues .comment .meta a {
						color: #999; }
					.issues form.comment .info textarea {
						display: block;
						width: 784px;
						min-width: 784px;
						max-width: 784px;
						min-height: 120px;
						margin-bottom: 10px; }
					.issues form.comment .meta {
						margin: 10px 0; }


			.pulls .pull-label {
				display: block;
				border-width: 0 0;
				border-radius: 0;
				-moz-border-radius: 0;
				-webkit-border-radius: 0;
				-o-border-radius: 0;
				background-image: linear-gradient(#f9f9f9, #d5d5d5);
				background-image: -moz-linear-gradient(#f9f9f9, #d5d5d5);
				background-image: -webkit-linear-gradient(#f9f9f9, #d5d5d5);
				background-image: -o-linear-gradient(#f9f9f9, #d5d5d5);
				box-shadow: 0 1px 0 rgba(255, 255, 255, .95) inset;
				-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .95) inset;
				-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .95) inset;
				-o-box-shadow: 0 1px 0 rgba(255, 255, 255, .95) inset; }
				.pulls .pull-label .table {
					border-color: transparent; }

			.pulls .table a {
				color: #888; }
			.pulls .table .title a {
				color: #245dc1;
				font-size: 13px; }
			.pulls .table .branch a {
				font-weight: bold; }

				.pull {
					padding: 10px; }
					.pull .pull-branch {
						font-size: 14px;
						font-weight: bold; }
						.pull .pull-branch .label {
							color: #454545;
							width: 402px;
							padding: 10px;
							background-image: linear-gradient(#f9f9f9, #d5d5d5);
							background-image: -moz-linear-gradient(#f9f9f9, #d5d5d5);
							background-image: -webkit-linear-gradient(#f9f9f9, #d5d5d5);
							background-image: -o-linear-gradient(#f9f9f9, #d5d5d5);
							box-shadow: 0 1px 0 rgba(255, 255, 255, .95) inset;
							-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, .95) inset;
							-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .95) inset;
							-o-box-shadow: 0 1px 0 rgba(255, 255, 255, .95) inset; }
						.pull .pull-branch .label:first-child {
							border-right: none;
							border-radius: 2px 0 0 2px;
							-moz-border-radius: 2px 0 0 2px;
							-webkit-border-radius: 2px 0 0 2px;
							-o-border-radius: 2px 0 0 2px; }
						.pull .pull-branch .label:last-child {
							border-radius: 0 0 2px 2px;
							-moz-border-radius: 0 0 2px 2px;
							-webkit-border-radius: 0 0 2px 2px;
							-o-border-radius: 0 0 2px 2px; }
					.pull .data {
						padding: 10px; }
						.pull .data .title {
							font-size: 20px; }





.setting .inner {
width: 85%;
padding: 30px 0;
margin: 0 auto; }
.setting .control-label {
width: 100px; }
.setting .controls {
margin-left: 120px; }
.setting .inner p.info {
	text-indent: 120px; }



	/* Login */
	.login .bubble-header .title,
	.join .bubble-header .title {
		font-size: 2em; }

	.login .form,
	.join .form {
		width: 379px;
		margin: 0 auto 50px; }
	.login .checkbox {
		display: inline-block;
		padding: 10px 20px 10px 0; }
	.login .checkbox input {
		display: inline-block;
		font-size: 12px;
		margin-right: 10px; }
		.login form input[type="checkbox"] {
			margin: 2px 0 0; }
	.login .title,
	.join .title {
		color: #111;
		font-size: 20px;
		font-style: normal;
		margin: 10px 0; }
	.login .btn,
	.join .btn {
		display: block;
		text-align: center;
		padding: 15px 0; }
	.login .well p,
	.join .well p {
		text-align: left;
		margin-top: 0; }





	.footer {
		font-size: 12px;
		margin: 20px 0; }
		.footer a {
			color: #aaa; }
		.footer .nav {
			margin-bottom: 0;
			padding: 6px 0;
			margin: 0; }
			.footer .nav a {
				font-weight: bold;
				margin-right: 20px; }
		.footer .copyright {
			color: #ccc;
			font-style: italic;
			margin: 0; }

#diff {
    width: 980px;
    margin: 0 auto; }

    .diff-header {
        margin: 20px 0; }
        .diff-list {
            list-style: none;
            margin: 0;
            padding: 0; }
        .diff-linenumber {
            float: left;
            display: block;
            margin-right: 15px; }
            .diff-linenumber .added,
            .diff-linenumber .removed {
                display: inline-block;
                font-size: 11px;
                font-weight: bold;
                line-height: 16px;
                text-align: center;
                width: 40px;
                height: 16px; }
            .diff-linenumber .added {
                color: #399839;
                border-radius: 3px 0 0 3px;
                -moz-border-radius: 3px 0 0 3px;
                -webkit-border-radius: 3px 0 0 3px;
                -o-border-radius: 3px 0 0 3px;
                background-color: #cfc; }
            .diff-linenumber .removed {
                color: #c33;
                border-radius: 0 3px 3px 0;
                -moz-border-radius: 0 3px 3px 0;
                -webkit-border-radius: 0 3px 3px 0;
                -o-border-radius: 0 3px 3px 0;
                background-color: #fdd; }

    .diff-body { 
        margin: 20px 0; }
        .diff-item-container {
            margin-bottom: 20px; }
        .diff-item-container .item-header {
            padding: 15px 10px;
            border: 1px solid #ccc;
            border-radius: 5px 5px 0 0;
            -moz-border-radius: 5px 5px 0 0;
            -webkit-border-radius: 5px 5px 0 0;
            -o-border-radius: 5px 5px 0 0;
            background-color: #f5f5f5; }
            .diff-item-container .heading {
                float: left;
                margin: 0; }
            .diff-item-container .view-file {
                float: right;
                display: block;
                color: #333;
                font-size: 12px;
                font-weight: bold;
                padding: 3px 10px;
                border: 1px solid #ccc;
                border-radius: 3px;
                -moz-border-radius: 3px;
                -webkit-border-radius: 3px;
                -o-border-radius: 3px;
                background-color: #f1f1f1;
                background-image: linear-gradient(#f5f5f5, #f1f1f1);
                background-image: -moz-linear-gradient(#f5f5f5, #f1f1f1);
                background-image: -webkit-linear-gradient(#f5f5f5, #f1f1f1);
                background-image: -o-linear-gradient(#f5f5f5, #f1f1f1); }
                .diff-item-container .view-file:hover {
                    text-decoration: none;
                    border-color: #aaa; }
        .diff-item-container .item-body {
            border-style: solid;
            border-width: 0 1px 1px;
            border-color: #ccc;
            overflow-x: auto;
            overflow-y: hidden; }
            .diff-item-container .data-container {
                display: table;
                width: 100%; }
            .diff-item-container .deletion,
            .diff-item-container .addition,
            .diff-item-container .common {
                height: 20px; }
            .diff-item-container .last {
                border-bottom-width: 1px;
                border-radius: 0 0 5px 5px;
                -moz-border-radius: 0 0 5px 5px;
                -webkit-border-radius: 0 0 5px 5px;
                -o-border-radius: 0 0 5px 5px; }
            .diff-item-container .line-numbers {
                position: absolute;
                display: block;
                color: #777;
                font-size: 12px;
                line-height: 20px;
                width: 80px;
                height: 20px;
                border-right: 1px solid #ccc;
                background-color: #f5f5f5; }
                .diff-item-container .line-numbers:after {
                    display: inline-block;
                    content: "";
                    position: relative;
                    left: 0; }
                .diff-item-container .line-numbers:hover {
                    background-color: #e9e9e9; }
                .diff-item-container .last .line-numbers {
                    border-radius: 0 0 0 5px;
                    -moz-border-radius: 0 0 0 5px;
                    -webkit-border-radius: 0 0 0 5px;
                    -o-border-radius: 0 0 0 5px; }
                .diff-item-container .line-numbers .l1,
                .diff-item-container .line-numbers .l2 {
                    display: inline-block;
                    text-align: center;
                    width: 39px; }
            .diff-item-container pre.data {
                font-size: 12px;
                font-family: Consolas,Menlo,Monaco,"Courier New",Monospace;
                white-space: nowrap;
                word-break: keep-all;
                word-wrap: normal;
                line-height: 20px;
                height: 20px;
                padding: 0 10px;
                margin-left: 80px;
                border: none;
                border-radius: 0;
                -moz-border-radius: 0;
                -webkit-border-radius: 0;
                -o-border-radius: 0; }
                .diff-item-container .deletion pre.data {
                    background-color: #fdd; }
                    .diff-item-container .deletion pre.data del {
                        color: #c33;
                        background-color: #ff97a9; }
                .diff-item-container .addition pre.data {
                    background-color: #cfc; }
                    .diff-item-container .last pre.data {
                        border-radius: 0 0 5px 0;
                        -moz-border-radius: 0 0 5px 0;
                        -webkit-border-radius: 0 0 5px 0;
                        -o-border-radius: 0 0 5px 0; }
                    .diff-item-container .addition pre.data ins {
                        color: #199734;
                        background-color: #40f189; }

                    .diff-item-container .deletion pre.data del,
                    .diff-item-container .addition pre.data ins {
                        display: inline-block;
                        text-decoration: none;
                        line-height: 20px; }


.wmd-panel
{
    width: 30%;
    min-width: 400px;
    margin-bottom: 10px;
}
.wmd-button-bar 
{
    width: 100%;
    background-color: Silver; 
}
.wmd-input 
{ 
    padding: 8px;
    height: 250px;
    width: 100%;
    border: 1px solid Gray;
}
.wmd-preview 
{ 
    padding: 8px;
    border: 3px dashed #CCCCCC;
    min-height: 100px;
}
.wmd-button-row 
{
    position: relative; 
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    margin-top: 10px;
    padding: 0px;  
    height: 20px;
}
.wmd-spacer
{
    width: 1px; 
    height: 20px; 
    margin-left: 14px;
    
    position: absolute;
    background-color: Silver;
    display: inline-block; 
    list-style: none;
}
.wmd-button {
    width: 20px;
    height: 20px;
    padding-left: 2px;
    padding-right: 3px;
    position: absolute;
    display: inline-block;
    list-style: none;
    cursor: pointer;
}
.wmd-button > span {
    background-image: url(/static/img/wmd-buttons.png);
    background-repeat: no-repeat;
    background-position: 0px 0px;
    width: 20px;
    height: 20px;
    display: inline-block;
}
.wmd-spacer1
{
    left: 50px;
}
.wmd-spacer2
{
    left: 175px;
}
.wmd-spacer3
{
    left: 300px;
}
.wmd-prompt-background
{
    background-color: Black;
}
.wmd-prompt-dialog
{
    border: 1px solid #999999;
    background-color: #F5F5F5;
}
.wmd-prompt-dialog > div {
    font-size: 0.8em;
    font-family: arial, helvetica, sans-serif;
}
.wmd-prompt-dialog > form > input[type="text"] {
    border: 1px solid #999999;
    color: black;
}
.wmd-prompt-dialog > form > input[type="button"]{
    border: 1px solid #888888;
    font-family: trebuchet MS, helvetica, sans-serif;
    font-size: 0.8em;
    font-weight: bold;
}

.hidden {
    display: none;
}
