.breadcrumb {
	padding: 0;
	margin: 0;
	list-style: none; }
	.breadcrumb:before,
	.breadcrumb:after {
		content: "";
		display: table; }
	.breadcrumb:after {
		clear: both; }
	.breadcrumb li {
		float: left; }
	.breadcrumb .active {
		color: #454545; }

		.breadcrumb li .divider {
			margin: 0 8px;
			color: rgba(0, 0, 0, .65); }

.pagination {
	padding: 0;
	margin: 0;
	list-style: none; } 
	.pagination:before,
	.pagination:after {
		content: "";
		display: table; }
	.pagination:after {
		clear: both; }
	.pagination li {
		float: left; }

.title {
	font-size: 16px;
	font-weight: bold; }

.em {
	font-style: italic; }

.hide {
	display: none;
	visibility: hidden; }

.visible {
	display: block;
	visibility: show; }

.pull-left {
	float: left; }

.pull-right {
	float: right; }

.well {
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ddd; }

[class^="icon-"] {
	margin-right: 5px; }

.navbar .container {
	*zoom: 1; }
	.navbar .container:before,
	.navbar .container:after {
		content: "";
		display: table; }
	.navbar .container:after {
		clear: both; }

.container {
	width: 960px;
	margin: 0 auto; }

.nav {
	*zoom: 1;
	list-style: none;
	padding: 0;
	margin: 0; }
	.nav:before,
	.nav:after {
		content: "";
		display: table; }
	.nav:after {
		clear: both; }
	.nav li {
		float: left; }
	.nav-list {
		list-style: none;
		padding: 0;
		margin: 0; }
	.nav.nav-list li{
		float: none; }

.text-error {
	color: #b94a48; }

.btn{
	color: #696969;
	text-decoration: none;
	padding: 6px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #d2d2d2 #c6c6c6 #9e9e9e;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	background-color: #f9f9f9; 
	background-image: linear-gradient(#ffffff, #f9f9f9);
	background-image: -moz-linear-gradient(#ffffff, #f9f9f9);
	background-image: -webkit-linear-gradient(#ffffff, #f9f9f9);
	background-image: -o-linear-gradient(#ffffff, #f9f9f9); }
	.btn:hover {
		color: #333;
		text-decoration: none;
		background-color: #f9f9f9;
		background-image: none; }

.btn.btn-notice,
.btn.btn-notice:hover,
.btn.btn-success,
.btn.btn-success:hover,
.btn.btn-primary,
.btn.btn-primary:hover,
.btn.btn-warning,
.btn.btn-warning:hover,
.btn.btn-danger,
.btn.btn-danger:hover {
	color: white; }

.btn.btn-notice,
.btn.btn-notice:hover {
	border-color: #b66775 #b66775 #984856;
	background-color: #ea3653;
	background-image: none; }

.btn.btn-success,
.btn.btn-success:hover {
	border-color: #308631 #308631 #308621;
	background-image: linear-gradient(#38aa32, #32982c);
	background-image: -moz-linear-gradient(#38aa32, #32982c);
	background-image: -webkit-linear-gradient(#38aa32, #32982c);
	background-image: -o-linear-gradient(#38aa32, #32982c); }


.btn.btn-primary,
.btn.btn-primary:hover {
	border-color: #5d8db3 #5d8db3 #3a5b72;
	background-image: linear-gradient(#45a6ef, #3a95d9);
	background-image: -moz-linear-gradient(#45a6ef, #3a95d9);
	background-image: -webkit-linear-gradient(#45a6ef, #3a95d9);
	background-image: -o-linear-gradient(#45a6ef, #3a95d9); }
.btn.btn-warning,
.btn.btn-warning:hover {
	border-color: #faa400;
	background-image: linear-gradient(#fbb433, #faab00);
	background-image: -moz-linear-gradient(#fbb433, #faab00);
	background-image: -webkit-linear-gradient(#fbb433, #faab00);
	background-image: -o-linear-gradient(#fbb433, #faab00); }


.btn-mini {
	padding: 2px 10px; }

.btn-group {
	*zoom: 1;
	list-style: none;
	padding: 0;
	margin: 0; }
	.btn-group:before,
	.btn-group:after {
		content: "";
		display: table; }
	.btn-group:after {
		clear: both; }

.btn-group .first .btn {
	border-right: none;
	border-radius: 1px 0 0 1px;
	-moz-border-radius: 1px 0 0 1px;
	-webkit-border-radius: 1px 0 0 1px;
	-o-border-radius: 1px 0 0 1px; }
.btn-group .middle .btn {
	border-right: none;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
	-o-border-radius: 0; }
.btn-group .last .btn {
	border-radius: 0 1px 1px 0;
	-moz-border-radius: 0 1px 1px 0;
	-webkit-border-radius: 0 1px 1px 0;
	-o-border-radius: 0 1px 1px 0; }

.active .btn {
	color: #111;
	border-top-color: #bababa;
	border-bottom-color: #c6c6c6;
	background-color: #e4e4e4;
	background-image: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, -1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(255, 255, 255, .9);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, -1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(255, 255, 255, .9);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, -1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(255, 255, 255, .9);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, -1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(255, 255, 255, .9); }


.label {
	color: #696969;
	text-decoration: none;
	padding: 6px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #d2d2d2 #c6c6c6 #9e9e9e;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	-o-border-radius: 25px;
	background-color: #ededed; }

.label-mini {
	font-size: 10px;
	padding: 3px 4px; }

.label-success,
.label-info {
	color: white; }

.label-success {
	border-color: #308631 #308631 #308621;
	background-color: #32982c; }

.label-info {
	color: #333;
	border-color: #9593c9 #9593c9 #7e7abd;
	background-color: #d4d3fa;
	background-image: linear-gradient(#e1dfff, #d4d3fa);
	background-image: -moz-linear-gradient(#e1dfff, #d4d3fa);
	background-image: -webkit-linear-gradient(#e1dfff, #d4d3fa);
	background-image: -o-linear-gradient(#e1dfff, #d4d3fa); }

.label-bubble {
	color: #333;
	border-color: #9593c9 #9593c9 #7e7abd;
	background-color: #d4d3fa;
	background-image: linear-gradient(#e1dfff, #d4d3fa);
	background-image: -moz-linear-gradient(#e1dfff, #d4d3fa);
	background-image: -webkit-linear-gradient(#e1dfff, #d4d3fa);
	background-image: -o-linear-gradient(#e1dfff, #d4d3fa); }


.bubble { }
	.bubble-inner {
		position: relative; }
	.bubble-col {
		width: 50%;
		float: left; }
	.bubble-header {
		line-height: 1;
		padding: 12px 10px; }
		.bubble-header .title,
		.bubble-header .summary {
			line-height: 1;
			margin: 0; }
			.bubble-header .summary {
				color: #616161;
				font-size: 13px;
				line-height: 1.25;
				margin-left: 20px; }
		.bubble-col:first-child .bubble-header,
		.bubble-col:first-child .bubble-inner {
			border-right-width: 0; }

.bubble-flat {
	background: #f7f8fb url('/static/img/inner-top-bg.png') top left repeat-x;
	padding: 21px 10px 15px;
	box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
	-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
	-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
	-o-box-shadow: 0 2px 7px rgba(0, 0, 0, .25); }

.member {
	padding: 12px 10px; }
	.member .avatar,
	.member .info {
		float: left; }
	.member .avatar {
		display: block;
		margin: 0 10px 0 0;
		padding: 0; }
	.member .name,
	.member .muted {
		margin: 0 0 6px; }
	.member .name {
		font-weight: bold; }
	.member .muted {
		font-weight: 400; }
	.member .actions {
		float: right; }

.horizontal-list {
	list-style: none;
	padding: 0;
	margin: 0;
	*zoom: 1; }
	.horizontal-list:before,
	.horizontal-list:after {
		content: "";
		display: table; }
	.horizontal-list:after {
		clear: both; }
		.horizontal-list li {
			float: left; }

.clearfix {
	*zoom: 1;
	list-style: none; }
	.clearfix:before,
	.clearfix:after {
		content: "";
		display: table; }
	.clearfix:after {
		clear: both; }

.nav-list a {
	display: block;
	color: #333333;
	font-weight: normal;
	line-height: 1;
	border-left: 2px solid transparent; }
	.nav-list a:hover {
		text-decoration: none;
		border-left-color: #3a9f00; }
	.nav-list a span {
		display: block;
		border-top: 1px solid transparent;
		border-bottom: 1px solid transparent;
		padding: 8px 20px; }
	.nav-list a:hover span {
		background-color: #f2f2f2;
		border-color: #eee transparent; }

.dropdown {
  position: relative; }
	.dropdown-menu {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1000;
		display: none;
		min-width: 160px;
		padding: 5px 0;
		list-style: none;
		background-color: #ffffff;
		border: 1px solid #ccc;
		border-bottom-color: #adadad;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		box-shadow: 1px 3px 15px rgba(0, 0, 0, .42);
		-moz-box-shadow: 1px 3px 15px rgba(0, 0, 0, .42);
		-webkit-box-shadow: 1px 3px 15px rgba(0, 0, 0, .42);
		-o-box-shadow: 1px 3px 15px rgba(0, 0, 0, .42); }
		.dropdown-menu .nav-list,
		.dropdown-menu .nav-list li {
			float: none; }
.open {
  *z-index: 9999999; }
	.open .dropdown-menu {
		display: block; }

.form input[type="text"],
.form input[type="password"],
.form input[type="email"],
.form input[type="phone"] {
	display: block;
	color: #333;
	width: 361px; /*(359px - 8*2* - 2px)*/
	height: 30px;
	margin-bottom: 5px; }
.form button[type="submit"] {
	display: block;
	font-size: 16px;
	width: 379px;
	padding-top: 10px;
	padding-bottom: 10px; }
.form p {
	font-size: 12px;
	text-align: center;
	color: #919191;
	font-style: italic; }

.form-horizontal .control-group {
  margin-bottom: 8px;
  *zoom: 1; }
	.form-horizontal .control-group:before,
	.form-horizontal .control-group:after {
		display: table;
		line-height: 0;
		content: ""; }
	.form-horizontal .control-group:after {
		clear: both; }
	.form-horizontal .control-label {
		float: left;
		width: 100px;
		padding-top: 5px;
		text-align: right; }

	.form-horizontal .controls {
		*display: inline-block;
		*padding-left: 20px;
		margin-left: 120px;
		*margin-left: 0; }

	.form-horizontal .controls:first-child {
		*padding-left: 120px; }

.table {
	width: 100%;
	margin: 15px 0; }
	.table td {
		line-height: 20px;
		vertical-align: middle;
		padding: 5px 10px;
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4; }
	.table th {
		color: #c2c2c2;
		font-weight: bold;
		text-align: left;
		padding: 12px 10px;
		background: transparent url('/static/img/th-line.png') bottom left no-repeat; }
		.table th.first {
			background: none; }
	
.progress {
	position: relative;
	display: block;
	height: 10px;
	border: 1px solid #d2d2d2;
	background-color: #eaeaea;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px; }
	.progress .bar {
		position: absolute;
		top: -1px;
		left: -1px;
		height: 10px;
		border-style: solid;
		border-width: 1px;
		border-color: #85a446 #629000 #649000;
		border-radius: 2px 0 0 2px;
		-moz-border-radius: 2px 0 0 2px;
		-webkit-border-radius: 2px 0 0 2px;
		-o-border-radius: 2px 0 0 2px;
		background-image: linear-gradient(#77a500, #75a500);
		background-image: -moz-linear-gradient(#77a500, #75a500);
		background-image: -webkit-linear-gradient(#77a500, #75a500);
		background-image: -o-linear-gradient(#77a500, #75a500); }
	
.alert {
  padding: 8px 35px 8px 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  color: #333333; }
.alert-success {
  background-color: #dff0d8;
  border-color: #a3d48e;
  color: #468847; }
.alert-danger,
.alert-error {
  background-color: #f2dede;
  border-color: #dd4b39;
  color: #dd4b39; }
.alert-info {
  background-color: #d9edf7;
  border-color: #85c5e5;
  color: #3a87ad; }
.alert-success,
.alert-danger,
.alert-error,
.alert-info {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  -o-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.alert-danger,
.alert-error {
  border-color: #d59595;
  color: #b94a48; }


.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010;
  display: none;
  max-width: 276px;
  padding: 1px;
  text-align: left;
  white-space: normal;
  background-color: #ffffff;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc #ccc #aaa;
	box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, .2); }

.popover.bottom {
  margin-top: 10px; }

.popover-title:empty {
  display: none; }

.popover-content {
	color: #454545;
	font-weight: bold;
  padding: 7px; }

.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid; }

.popover .arrow {
  border-width: 6px; }

.popover .arrow:after {
  border-width: 5px;
  content: ""; }

.popover.bottom .arrow {
  top: -6px;
  left: 10px;
  margin-left: -6px;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, 0.25);
  border-top-width: 0; }

.popover.bottom .arrow:after {
  top: 1px;
  margin-left: -5px;
  border-bottom-color: #ffffff;
  border-top-width: 0; }

.popover {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); }
	.popover-content p {
		margin: 0; }

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  font-size: 11px;
  line-height: 1.1;
  opacity: 0;
  filter: alpha(opacity=0);
  visibility: visible; }
	.tooltip.in {
		opacity: 0.8;
		filter: alpha(opacity=80); }
	.tooltip.top {
		padding: 5px 0;
		margin-top: -3px; }
	.tooltip-arrow {
		position: absolute;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid; }
	.tooltip.bottom .tooltip-arrow {
		top: 0;
		left: 50%;
		margin-left: -5px;
		border-bottom-color: #000000;
		border-width: 0 5px 5px; }
	.tooltip-inner {
		padding: 4px;
		color: #313131;
		text-align: center;
		text-decoration: none;
		border: 1px solid #9c9c9c;
		background-color: white;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .25); }
	.tooltip.top .tooltip-arrow {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -5px;
		border-top-color: #9c9c9c;
		border-width: 5px 5px 0; }
