.hide {
	display: none; }

.visible {
	visibility: show; }

.invisible {
	visibility: hidden; }

.pull-left {
	float: left; }

.pull-right {
	float: right; }

.well {
	padding: 10px;
	background-color: #f9f9f9;
	border: 1px solid #ddd; }

.cell {
	padding: 10px; }

[class^="icon-"] {
	margin-right: 5px; }

.reset-icon [class^="icon-"] {
	margin-right: 0; }

.title {
	font-size: 16px;
	font-weight: bold;
	margin: 0; }

.em {
	font-style: italic; }

.text-error {
	color: #b94a48; }


.container {
	*zoom: 1;
	width: 1000px;
	margin: 0 auto; }
	.container:before,
	.container:after {
		content: "";
		display: table; }
	.container:after {
		clear: both; }


.nav {
	*zoom: 1;
	padding: 0;
	margin: 0;
	list-style: none; }
	.nav:before,
	.nav:after {
		content: "";
		display: table; }
	.nav:after {
		clear: both; }
	.nav li {
		float: left; }
	.nav.nav-list li{
		float: none; }

	.flat-nav-list a {
		display: block;
		color: #333333;
		font-weight: normal;
		line-height: 1;
		border-left: 2px solid transparent; }
		.flat-nav-list .active a,
		.flat-nav-list a.active {
			border-left-color: #3d9f00; }
		.flat-nav-list a:hover {
			text-decoration: none;
			border-left-color: #3a9f00; }
		.flat-nav-list a span {
			display: block;
			border-top: 1px solid transparent;
			border-bottom: 1px solid transparent;
			padding: 6px 20px; }
		.flat-nav-list a:hover span {
			background-color: #f2f2f2;
			border-color: #eee transparent; }

	.nav-tabs {
		border-bottom: 1px solid #d5d5d5; }
		.nav-tabs a {
			display: block;
			font-weight: bold;
			padding: 10px 25px;
			margin-bottom: -1px;
			border-style: solid;
			border-width: 1px 1px 0;
			border-color: transparent; }
			.nav-tabs .active a {
				border-color: #d5d5d5 #d5d5d5 #f5f5f5; }


.bubble {
	*zoom: 1; }
	.bubble:before,
	.bubble:after {
		content: "";
		display: table; }
		.bubble:after {
			clear: both; }
	.bubble.bubble-flat {
		background: #fff url('/static/img/inner-top-bg.png') top left repeat-x;
		box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
		-moz-box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
		-webkit-box-shadow: 0 2px 7px rgba(0, 0, 0, .25);
		-o-box-shadow: 0 2px 7px rgba(0, 0, 0, .25); }
	.bubble .header {
		line-height: 1;
		padding: 10px; }


.colgroup {
	*zoom: 1; }
	.colgroup:before,
	.colgroup:after {
		content: "";
		display: table; }
	.colgroup:after {
		clear: both; }


.breadcrumb {
	*zoom: 1;
	padding: 0;
	margin: 0;
	list-style: none; }
	.breadcrumb:before,
	.breadcrumb:after {
		content: "";
		display: table; }
	.breadcrumb:after {
		clear: both; }
	.breadcrumb li {
		float: left; }
	.breadcrumb .active {
		color: #454545; }
		.breadcrumb li .divider {
			margin: 0 8px;
			color: rgba(0, 0, 0, .65); }

.colspan {
	*zoom: 1; }  
	.colspan:before,
	.colspan:after {
		content: "";
		display: table; }
	.colspan:after {
		clear: both; }
	.colspan .span {
		float: left; }

.horizontal-list {
	*zoom: 1;
	list-style: none;
	padding: 0;
	margin: 0; }
	.horizontal-list:before,
	.horizontal-list:after {
		content: "";
		display: table; }
	.horizontal-list:after {
		clear: both; }
	.horizontal-list li {
		float: left; }

.unstyled {
	padding: 0;
	margin: 0;
	list-style: none; }

.clearfix {
	*zoom: 1; }
	.clearfix:before,
	.clearfix:after {
		content: "";
		display: table; }
	.clearfix:after {
		clear: both; }


.pagination {
	*zoom: 1;
	padding: 0;
	margin: 0;
	list-style: none; } 
	.pagination:before,
	.pagination:after {
		content: "";
		display: table; }
	.pagination:after {
		clear: both; }
	.pagination li {
		float: left; }


.table {
	width: 100%; }
	.table th {
		font-weight: bold;
		padding: 12px 10px; }
	.table td {
		line-height: 20px;
		vertical-align: middle;
		padding: 5px 10px;
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4; }


.user-plugin {
	*zoom: 1;
	padding: 12px 10px; }
	.user-plugin:before,
	.user-plugin:after {
		content: "";
		display: table; }
	.user-plugin:after {
		clear: both; }
	.user-plugin .avatar {
		float: left;
		display: block;
		padding: 0;
		margin: 0 10px 0 0; }
	.user-plugin .msg,
	.user-plugin .name,
	.user-plugin .meta {
		line-height: 1;
		margin: 0 0 6px; }
	.user-plugin .name {
		font-weight: bold; }
	.user-plugin .meta {
		font-weight: 400; }
	.user-plugin .actions {
		float: right; }


.dropdown {
  position: relative; }
	.dropdown-menu {
		position: absolute;
		top: 100%;
		right: 0;
		z-index: 1000;
		display: none;
		min-width: 160px;
		padding: 5px 0;
		list-style: none;
		background-color: #ffffff;
		border: 1px solid #ccc;
		border-bottom-color: #adadad;
		border-radius: 3px;
		-moz-border-radius: 3px;
		-webkit-border-radius: 3px;
		-o-border-radius: 3px;
		box-shadow: 1px 3px 8px rgba(0, 0, 0, .42);
		-moz-box-shadow: 1px 3px 8px rgba(0, 0, 0, .42);
		-webkit-box-shadow: 1px 3px 8px rgba(0, 0, 0, .42);
		-o-box-shadow: 1px 3px 8px rgba(0, 0, 0, .42); }
	.open .dropdown-menu {
		display: block; }

	

.popover {
  display: none;
  text-align: left;
  white-space: normal;
  max-width: 276px;
  padding: 1px;
	border-style: solid;
	border-width: 1px;
	border-color: #ccc #ccc #aaa;
  background-color: #ffffff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
	-o-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1010; }
	.popover .arrow {
		border-width: 6px; }
		.popover .arrow,
		.popover .arrow:after {
			display: block;
			width: 0;
			height: 0;
			border-color: transparent;
			border-style: solid;
			position: absolute; }
		.popover .arrow:after {
			border-width: 5px;
			content: ""; }
	.popover.bottom {
		margin-top: 10px; }
		.popover.bottom .arrow {
			top: -6px;
			left: 10px;
			margin-left: -6px;
			border-bottom-color: #999;
			border-bottom-color: rgba(0, 0, 0, 0.25);
			border-top-width: 0; }
		.popover.bottom .arrow:after {
			top: 1px;
			margin-left: -5px;
			border-bottom-color: #ffffff;
			border-top-width: 0; }
	.popover-title:empty {
		display: none; }
	.popover-content {
		color: #454545;
		font-weight: bold;
		padding: 7px; }
		.popover-content p {
			margin: 0; }


.tooltip {
  display: block;
  font-size: 11px;
  line-height: 1.1;
  position: absolute;
  z-index: 1030;
  opacity: 0;
	filter: alpha(opacity=0);
  visibility: visible; }
	.tooltip.in {
		opacity: 0.8;
		filter: alpha(opacity=80); }
	.tooltip.top {
		padding: 5px 0;
		margin-top: -3px; }
	.tooltip-arrow {
		position: absolute;
		width: 0;
		height: 0;
		border-color: transparent;
		border-style: solid; }
	.tooltip.bottom .tooltip-arrow {
		top: 0;
		left: 50%;
		margin-left: -5px;
		border-bottom-color: #000000;
		border-width: 0 5px 5px; }
	.tooltip-inner {
		padding: 4px;
		color: #313131;
		text-align: center;
		text-decoration: none;
		border: 1px solid #9c9c9c;
		background-color: white;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		-o-border-radius: 2px;
		border-radius: 2px;
		box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
		-moz-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
		-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
		-o-box-shadow: 0 1px 1px rgba(0, 0, 0, .25); }
	.tooltip.top .tooltip-arrow {
		position: absolute;
		bottom: 0;
		left: 50%;
		margin-left: -5px;
		border-top-color: #9c9c9c;
		border-width: 5px 5px 0; }


.form-horizontal .control-group {
  *zoom: 1;
  margin-bottom: 8px; }
	.form-horizontal .control-group:before,
	.form-horizontal .control-group:after {
		content: "";
		display: table; }
	.form-horizontal .control-group:after {
		clear: both; }
	.form-horizontal .control-label {
		float: left;
		text-align: right;
		width: 100px;
		padding-top: 5px; }
	.form-horizontal .controls {
		margin-left: 120px; }

	
.progress {
	position: relative;
	display: block;
	height: 10px;
	border: 1px solid #d2d2d2;
	background-color: #eaeaea;
	border-radius: 1px;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px; }
	.progress .bar {
		position: absolute;
		top: -1px;
		left: -1px;
		height: 10px;
		border-style: solid;
		border-width: 1px;
		border-color: #85a446 #629000 #649000;
		border-radius: 2px 0 0 2px;
		-moz-border-radius: 2px 0 0 2px;
		-webkit-border-radius: 2px 0 0 2px;
		-o-border-radius: 2px 0 0 2px;
		background-image: linear-gradient(#77a500, #75a500);
		background-image: -moz-linear-gradient(#77a500, #75a500);
		background-image: -webkit-linear-gradient(#77a500, #75a500);
		background-image: -o-linear-gradient(#77a500, #75a500); }


.btn-group {
	*zoom: 1;
	padding: 0;
	margin: 0;
	list-style: none; }
	.btn-group:before,
	.btn-group:after {
		content: "";
		display: table; }
	.btn-group:after {
		clear: both; }
	.btn-group .first .btn {
		border-right: none;
		border-radius: 1px 0 0 1px;
		-moz-border-radius: 1px 0 0 1px;
		-webkit-border-radius: 1px 0 0 1px;
		-o-border-radius: 1px 0 0 1px; }
	.btn-group .middle .btn {
		border-right: none;
		border-radius: 0;
		-moz-border-radius: 0;
		-webkit-border-radius: 0;
		-o-border-radius: 0; }
	.btn-group .last .btn {
		border-radius: 0 1px 1px 0;
		-moz-border-radius: 0 1px 1px 0;
		-webkit-border-radius: 0 1px 1px 0;
		-o-border-radius: 0 1px 1px 0; }


.btn{
	color: #9e9e9e;
	text-decoration: none;
	padding: 6px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #dbdbdb #dbdbdb #bbb;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	background-color: #f1f1f1; 
	background-image: linear-gradient(#f5f5f5, #f1f1f1);
	background-image: -moz-linear-gradient(#f5f5f5, #f1f1f1);
	background-image: -webkit-linear-gradient(#f5f5f5, #f1f1f1);
	background-image: -o-linear-gradient(#f5f5f5, #f1f1f1); }
	.btn:hover {
		color: #333;
		border-color: #c6c6c6;
		text-decoration: none; }
	.btn-mini {
		padding: 2px 10px; }
	.btn.btn-notice,
	.btn.btn-notice:hover,
	.btn.btn-success,
	.btn.btn-success:hover,
	.btn.btn-primary,
	.btn.btn-primary:hover,
	.btn.btn-warning,
	.btn.btn-warning:hover,
	.btn.btn-danger,
	.btn.btn-danger:hover {
		color: white; }
	.btn.btn-primary,
	.btn.btn-primary:hover {
		border-color: #5d8db3 #5d8db3 #3a5b72;
		background-image: linear-gradient(#45a6ef, #3a95d9);
		background-image: -moz-linear-gradient(#45a6ef, #3a95d9);
		background-image: -webkit-linear-gradient(#45a6ef, #3a95d9);
		background-image: -o-linear-gradient(#45a6ef, #3a95d9); }
	.btn.btn-notice,
	.btn.btn-notice:hover {
		border-color: #b66775 #b66775 #984856;
		background-color: #ea3653;
		background-image: none; }
	.btn.btn-success,
	.btn.btn-success:hover {
		border-color: #308631 #308631 #308621;
		background-image: linear-gradient(#38aa32, #32982c);
		background-image: -moz-linear-gradient(#38aa32, #32982c);
		background-image: -webkit-linear-gradient(#38aa32, #32982c);
		background-image: -o-linear-gradient(#38aa32, #32982c); }
	.btn.btn-warning,
	.btn.btn-warning:hover {
		border-color: #faa400;
		background-image: linear-gradient(#fbb433, #faab00);
		background-image: -moz-linear-gradient(#fbb433, #faab00);
		background-image: -webkit-linear-gradient(#fbb433, #faab00);
		background-image: -o-linear-gradient(#fbb433, #faab00); }

.active .btn {
	color: #111;
	border-top-color: #bababa;
	border-bottom-color: #c6c6c6;
	background-color: #e4e4e4;
	background-image: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, -1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(255, 255, 255, .9);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, -1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(255, 255, 255, .9);
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, -1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(255, 255, 255, .9);
	-o-box-shadow: 0 1px 2px rgba(0, 0, 0, .1) inset, -1px 0 0 rgba(0, 0, 0, .35), 0 1px 0 rgba(255, 255, 255, .9); }


.label {
	display: inline-block;
	color: #696969;
	text-decoration: none;
	padding: 6px 10px;
	border-style: solid;
	border-width: 1px;
	border-color: #d2d2d2 #c6c6c6 #9e9e9e;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-o-border-radius: 2px;
	background-color: #ededed; }
	.label-mini {
		font-size: 10px;
		padding: 3px 4px; }
	.label-success,
	.label-info {
		color: white; }
	.label-success {
		border-color: #308631 #308631 #308621;
		background-color: #32982c; }
	.label-info {
		color: #333;
		border-color: #9593c9 #9593c9 #7e7abd;
		background-color: #d4d3fa;
		background-image: linear-gradient(#e1dfff, #d4d3fa);
		background-image: -moz-linear-gradient(#e1dfff, #d4d3fa);
		background-image: -webkit-linear-gradient(#e1dfff, #d4d3fa);
		background-image: -o-linear-gradient(#e1dfff, #d4d3fa); }
	.label-bubble {
		color: #333;
		border-color: #9593c9 #9593c9 #7e7abd;
		background-color: #d4d3fa;
		background-image: linear-gradient(#e1dfff, #d4d3fa);
		background-image: -moz-linear-gradient(#e1dfff, #d4d3fa);
		background-image: -webkit-linear-gradient(#e1dfff, #d4d3fa);
		background-image: -o-linear-gradient(#e1dfff, #d4d3fa); }


.alert {
  padding: 8px 35px 8px 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.12);
  background-color: #f9edbe;
  border: 1px solid #f0c36d;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -o-border-radius: 1px;
  color: #333333; }
	.alert-success {
		background-color: #dff0d8;
		border-color: #a3d48e;
		color: #468847; }
	.alert-danger,
	.alert-error {
		background-color: #f2dede;
		border-color: #dd4b39;
		color: #dd4b39; }
	.alert-info {
		background-color: #d9edf7;
		border-color: #85c5e5;
		color: #3a87ad; }
	.alert-success,
	.alert-danger,
	.alert-error,
	.alert-info {
		text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		-moz-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		-webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
		-o-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
	.alert-danger,
	.alert-error {
		border-color: #d59595;
		color: #b94a48; }


