.chart-bar-css{
  width:520px;
  dt{
    width:220px;
    float:left;
    margin:0 20px 5px 0;
    padding:2px 0;
    display:inline;
    font-weight:bold;
    text-align:right;
    line-height:10px;
  }
  dd{
    width:250px;
    float:left;
    margin-bottom:12px;
    display:inline;
    line-height:10px;
  }
  dd span{
    color:#fff;
    background:#09f;
    text-align:center;
    padding:2px 0;
    display:block;
  
    text-shadow:1px 1px 1px rgba(0,0,0,0.2);
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    background:-webkit-gradient(linear, left top,
    left bottom, from(#09f), to(#077fd0));
    -webkit-box-reflect:below 0
    -webkit-gradient(linear, left top,
    left bottom, from(rgba(0,0,0,0)), to(rgba(0,0,0,0.25)));
  }
  .data-one{
    -webkit-animation-name:bar-one;
  }
  .data-two{
    -webkit-animation-name:bar-two;
  }
  .data-three{
    -webkit-animation-name:bar-three;
  }
  .data-four{
    -webkit-animation-name:bar-four;
  }
  .data-five{
    -webkit-animation-name:bar-five;
  }
  .data-six{
    -webkit-animation-name:bar-six;
  }
  .data-seven{
    -webkit-animation-name:bar-seven;
  }
  .data-eight{
    -webkit-animation-name:bar-eight;
  }
  .data-nine{
    -webkit-animation-name:bar-nine;
  }
  .data-ten{
    -webkit-animation-name:bar-ten;
  }
  .data-eleven{
    -webkit-animation-name:bar-eleven;
  }
  .data-twelve{
    -webkit-animation-name:bar-twelve;
  }
  .data-thirteen{
    -webkit-animation-name:bar-thirteen;
  }
  .data-fourteen{
    -webkit-animation-name:bar-fourteen;
  }
  .data-fifteen{
    -webkit-animation-name:bar-fifteen;
  }
  .data-sixteen{
    -webkit-animation-name:bar-sixteen;
  }
  .data-seventeen{
    -webkit-animation-name:bar-seventeen;
  }
  .data-eighteen{
    -webkit-animation-name:bar-eighteen;
  }
  .data-nineteen{
    -webkit-animation-name:bar-nineteen;
  }
  .data-twenty{
    -webkit-animation-name:bar-twenty;
  }
  .data-one,.data-two,.data-three,.data-four,.data-five,.data-six,.data-seven,.data-eight,.data-nine,.data-ten,.data-eleven,.data-twelve,.data-thirteen,.data-fourteen,.data-fifteen,.data-sixteen,.data-seventeen,.data-eighteen,.data-nineteen,.data-twenty{
    -webkit-animation-duration:0.5s;
    -webkit-animation-iteration-count:1;
    -webkit-animation-timing-function:ease-out;
  }
}
