// Hash
.hash {
  font-family: @monoFontFamily;
  letter-spacing: -1px;
}

.ajaxLoader {
  text-align: center;
  padding: 50px 0;
}

.user {
  .subhead {
    padding: 3px 0;
    h2 { font-size: 16px; 
      .count { color: @darkLight; margin-left: 10px; font-style: italic; font-weight: normal; }
    }
  }
}

.dashboard {
  //background-color: white;
  .subhead {
    .nav-tabs {
      li { margin: 0 20px; }
      a {
        span { i { margin: 0 0 0 5px; } }
      }
      .dropdown-menu { li { margin: 0; } }
    }
  }//.nav-tabs

  .content {
    padding-top: 10px;
  }//.content

  .notif {

    .container {
    }
    .sidebar {
      //float: right;
      //width: 39.8999999%;
      .month-group-pagination {
        margin: 10px 0;
      }
    } //.sidebar

    //Notifs
    .notifs {
      .notif-item {
        padding: 6px 10px;
        margin: 0;
        border-bottom: 1px solid #e5e5e5;
        .clearfix();
        .notif-type {
          float: left;
          .square(30px);
          margin-right: 10px;
          .opacity(40);
          /*
          &:before {
            content: "";
            width: 1px;
            //background-color: #ccc;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 52px; }
            */
          &.type-commit { background: transparent url(/static/img/commit.png) center no-repeat; }
          &.type-issue { background: transparent url(/static/img/issue.png) center no-repeat; }
          &.type-pull { background: transparent url(/static/img/pull.png) center no-repeat; }
          &.type-issue-comment { background: transparent url(/static/img/comments.png) center no-repeat; }
        }//.notif-type
        .summary {
          margin-left: 30px;
          p { margin: 0; }
          a { color: @dark; }
          .user { font-weight: bold; img { position: relative; bottom: -3px; margin-right: 3px; } }
          .action-type {
            color: @darkLight;
            text-transform: capitalize;
          }//.action-type
          .notif-title { 
            font-weight: bold;
            .borderRadius(2px);
            .id, .subject { }
            .id {
              color: @darkLight;
              //background-color: #68cc00;
              //.borderRadius(2px 0 0 2px);
              margin-right: 3px;
            }//.id
            .subject { 
              //background-color: #ccc;
              //.borderRadius(0 2px 2px 0);
            }//.subject
          }//.notif-title
          .path { margin: 0 1px; }
          .parent, .parent a { font-family: menlo,@monoFontFamily; letter-spacing: -1px; font-weight: bold; color: @linkColor; }
        }//.summary
        .unixtime { color: @greyLight; font-size: @fontSizeSmall; float: right; }
      }//.notif-item
    }//.notifs

    .primary {
      //float: left;
      //width: 60%;


      .feed-group {
        .clearfix();
        &:first-child {
          .feed-date { border-top: none; }
        }
        .timeline {
          position: relative;
          &:before {
            content: '';
            display: inline-block;
            width: 1px;
            background-color: #ccc;
            position: absolute;
            left: 30px;
            top: 0;
            bottom: 0;
            z-index: 0;
          }
        }
        .feed-date {
          display: none;
          color: @darkLight;
          font-size: 14px;
          font-weight: bold;
          padding: 10px;
          border-top: 1px solid #f1f1f1;
          border-bottom: 1px solid #f1f1f1;
          //background-color: #fcfcfc;
          .date {
            padding: 3px 5px;
            position: relative;
            z-index: 2;
          }
        }
        .feed-item {
          padding: 8px 10px;
          border-bottom: 1px solid #f5f5f5;
          overflow: hidden;
          .timeline();
          .avatar { 
            float: left; 
            margin-left: 50px;
            .square(40px);
            background-clip: padding-box;
            img { .square(40px); }
          }
          .info {
            padding: 8px 20px;
            margin-left: 90px;
            position: relative;
            .feed-type {
              text-align: center;
              .circle(30px);
              background-color: #f9f9f9;
              border: 1px solid #ccc;
              .borderRadius(50%);
              #positions > #abs > .topLeft(0; -86px);
              i { 
                margin-right: 0;
                font-size: 16px;
              color: @grey; }
            & + p { font-weight: bold; font-size: 13px; margin-bottom: 6px; } }
            .author { color: @dark; font-weight: bold; margin-right: 5px; }
            .repo-name { margin-left: 5px; }
            .subject { color: #777; margin: 0 5px; &.label-mini { font-weight: bold; padding: 0 5px; height: 14px; } }
            .issue-id { margin: 0 5px; }
            p, .commits {
              margin: 0 0 5px; 
              color: @dark;
              line-height: 15px;
              img { float: left; margin-right: 5px; }
            a { color: @linkColor; } }
            .commits {
              .unstyledList();
              font-size: @fontSizeSmall;
              padding-left: 10px;
              border-left: 1px solid #ccc;
              li {
                margin: 4px 0;
            } }
            .date { 
              display: none;
              color: @dark; 
              #positions > #abs > .topRight(10px; 0);
            }//.date
          }//.info
        }//.feed-item
      }

    } //.primary


    .todos {
      .clearfix();
      min-height: 500px;
      .todo-list {
        .todo-item {
          padding: 4px 10px;
          border-bottom: 1px solid #e5e5e5;
          position: relative;
          .clearfix();
          .drag-todo {
            #positions > #abs > .topLeft(4px; 10px);
            margin-right: 5px;
          }
          .todo { 
            float: left;
            margin-left: 20px;
            p { margin: 0; }
          }
          .todo-control {
            #positions > #abs > .topRight(6px; 0);
          }
        }//.todo-item
        &.to-do {
          //float: left;
          //width: 70%;
          //font-weight: bold;
          .todo-controls {
            margin-bottom: 10px;
            .todo-category {
              padding: 3px 6px;
              height: 28px;
              border-bottom: 1px solid fadeout(@grey, 40%);
              background-color: white;
              position: relative;
              .clearfix();
              .boxShadow(inset 0 1px 2px rgba(0, 0, 0, .1));
              .boxShadow(0 0 5px fadeout(@linkColorLight, 30%));
              .dropdown {
                float: left;
                #positions > #abs > .topLeft(0; 0);
                z-index: 2;
                .dropdown-toggle { 
                  display: inline-block;
                  //font-weight: bold;
                  padding: 0 10px;
                  line-height: 34px;
                  .size(120px; 34px);
                  color: @darkLight;
                  text-decoration: none;
                }
                .dropdown-menu {
                  //border-color: fadeout(@blue, 20%);
                  //outline: 3px solid fadeout(@blue, 85%);
                  //.boxShadow(none);
                  padding: 0;
                  a { color: @darkLight; padding: 3px 5px; 
                    &:hover {
                      color: @white;
                      text-decoration: none;
                      background-color: @linkColorLight;
                    }
                  }
                  .create {
                    a { padding: 7px 5px; }
                    border-top: 1px solid #ccc;
                  }
                }
              }
              input[type="text"] {
                display: inline-block;
                font-size: 16px;
                padding: 0;
                height: 32px;
                width: 98%;
                text-indent: 120px;
                border: none;
                background-color: transparent;
                #positions > #abs > .topLeft(1px; 3px);
              }
            }//.todo-category
          }//.todo-controls
          .todo-item { 
            color: @dark;
            font-weight: bold;
            cursor: move; 
            &:hover { border-bottom-color: #e5e5e5; background-color: #f5f5f5; }
          }
        }//.to-do
        &.done {
          .heading { padding: 0 20px; }
          .inner {
            .todo {
              color: @dark;
              font-weight: normal;
              font-style: italic;
              text-decoration: line-through;
              overflow: hidden;
            }
            .scrollbar {
              padding: 8px 10px;
              background-color: #f9f9f9;
              text-align: center;
            }
          }
        }//.done
      }//.todo-list
    }//.todos

    .pulls {
      min-height: 350px;
      .wall {
        text-align: center;
        p {
          font-size: 1.5em;
        }
      }//.wall
      .header {
        padding: 10px;
        border-bottom: 1px solid #ddd;
        background-color: #f9f9f9;
        .clearfix();
        .heading { margin: 5px; float: left; font-size: 16px; }
        .sortable { 
          display: block;
          float: left;
          font-weight: bold;
          margin-left: 10px;
          a { display: block; color: @dark; font-weight: bold; }//a
        }//p
      }//.pulls-head
    }//.pulls


    .issues {
      .pagination { padding: 20px 10px; }
      .issue-item {
        padding: 10px;
        border-bottom: 1px solid #f1f1f1;
        position: relative;
        .clearfix();
        .tracker {
          float: left;
          width: 60px;
          .label {
            color: @dark;
            display: block;
            text-align: center;
            line-height: 19px;
            height: 19px;
            padding: 0;
            .borderRadius(0);
            border-bottom: 1px solid rgba(0, 0, 0, .055);
            &.issue-id { color: @darkLight; }
            &.status { font-size: @fontSizeMini; font-weight: bold; }
            &.open { background-color: #b7c7b1; }
            &.assigned { background-color: #bfbbc8; }
            &.processing { background-color: #aac1c9; }
            &.resolved { background-color: #a8c9b8; }
            &.closed { background-color: #c9c0be; }
            &.rejected { background-color: #bdc3c7; }
          }
          .issue-id {
            //font-weight: bold;
            background-color: #ecf0f1;
          }//.issue-id
        }//.tracker
        .summary {
          margin-left: 70px;
          padding: 0;
          .title {
            margin-bottom: 4px;
            .heading {
              display: inline;
              font-size: @baseFontSize;
              .label {
                color: @white;
                font-size: @fontSizeMini;
                padding: 3px 5px; 
                line-height: 1; 
                position: relative; 
                top: -2px;
                .borderRadius(1px);
                border-bottom: 1px solid rgba(0, 0, 0, .25);
                &.reponame { background-color: #3297e1; }
                &.defect { background-color: #f17388; }
                &.feature { background-color: #1fbc99; }
                &.support { background-color: #a469c4; }
              }
              a { color: @dark; }
            }
          }//.title
          .meta {
            color: @grey;
            font-size: 13px;
            margin-bottom: 0;
            a { color: @grey; }
          }
          .comment {
            display: none;
          }//.comment
          .actions {
            #positions > #abs > .topRight(20px; 10px);
            .btn {
              cursor: pointer;
              font-weight: bold;
            }
          }//.actions
        }//.summary
      }//.issue-item
    }//.issues




  }//.notif


  .user-repos {

    //.repo
      .repo {
        .clearfix();
        position: relative;
        padding: 5px 10px;
        margin: 10px 0;
        .clearfix();
        &:hover { 
          .meta {
            li { a { color: @linkColor; } }
          }
        }//&:hover
        &:last-child { margin-bottom: 0; }
        .meta {
          display: block;
          .unstyledList();
          float: right;
          margin: 5px 0;
          li {
            float: left;
            margin-left: 15px;
            padding-right: 10px;
            border-right: 1px dotted #e5e5e5;
            &:last-child { border-right: none; }
            a {
              color: @greyLight;
              display: inline-block;
              text-decoration: none;
              .count, .meta-type {
                display: block;
              text-align: center; }
              .count {
                font-size: 18px;
              margin-bottom: 5px; }
              .meta-type {
                font-size: 11px;
              font-weight: bold; }
              &:hover {
                color: @linkColor;
              }//
            }//a
          }//li
        }//.meta
        .repo-avatar {
          float: left;
          .size(48px; 34px);
          margin-right: 10px;
          position: relative;
          .private {
            display: block;
            //color: white;
            font-size: 10px;
            .circle(12px);
            border: 1px solid #33455e;
            background-color: @white;
            #positions > #abs > .bottomRight(-6px;0);
          }//.private
        }//.repo-avatar
        .summary {
          .heading {
            position: relative;
            margin: 0;
            h3 {
              color: @darkLight;
              margin: 0;
              line-height: 1;
              a { 
                color: @dark; 
                font-size: 18px; 
                //font-family: @monoFontFamily;
                letter-spacing: -1px;
                font-weight: bold;
              }//a
              .icon-lock { color: @greyLight; }
            }
            .origin {
              display: none;
              color: @greyLight;
              font-size: 12px;
              margin: 5px 0;
              a { color: @greyLight; margin-left: 2px; font-family: @monoFontFamily;; }
            }
          }//.heading
          .detail {
            .desc {
              color: @grey;
              margin: 5px 0; 
            }
            .list {
              .unstyledList();
              color: @darkLight;
              padding-left: 7px;
              border-left: 2px solid fadeout(@linkColor, 30%);
              img {
                position: relative;
                bottom: -2px;
                margin-right: 3px;
              }
              .hash { margin-right: 5px; }
              .date { color: @grey; }
            }//.list
          }//.details
        }//.summary
      }//.repo

    // pagination
    .pagination {
      padding: 20px 10px;
      .active { 
        font-weight: bold; 
        span { display: inline-block; }
      }
      a { 
        font-size: 14px;
        text-decoration: underline;
      }//a
    }//.pagination
  }//.user-repo

}//.dashboard
