.header {
	h1.heading { 
		font-size: @baseFontSize * 1.45; 
	}
}
// Navbar
.navbar {
	.linearGradient(top; #f5f5f5; #ececec);
	border-bottom: 1px solid #bdbdbd;
	.boxShadow(0 1px 0 rgba(0, 0, 0, .085));
	.navbar-inner {
		.brand {
			color: @dark;
			padding: 0;
			margin-right: 20px;
			font-size: 20px;
			line-height: 44px;
			height: 44px; 
			&:hover { text-decoration: none; } }
		.nav {
			float: left;
			& > li {
				.bordered(solid; ~"0 1px"; transparent); }
			&.global {
				a {
					color: @darkLight;
					font-size: @fontSizeSmall;
					.bordered(solid; ~"0 1px"; transparent);
					padding: 13px 10px; 
					&:hover { 
						text-decoration: none;
						@boxShadow: inset 1px 0 0 fadeout(@white, 60%), inset -1px 0 0 fadeout(@white, 60%), inset 0 1px 3px fadeout(@dark, 80%);
						.boxShadow(@boxShadow);
						border-color: transparent #ccc;
						background-color: #e3e3e3; }
				} }
			.user {
				position: relative;
				display: block;
				padding: 0;
				.square(26px);
				border: 1px solid #999;
				.borderRadius(2px);
				.avatar {
					.borderRadius(2px);
					.square(26px); } }
			&.account {
				float: right;
				font-size: 12px;
				margin-right: 0;
				.notifications, .dropdown {
					padding: 8px 2px;
					.label {
						color: @white;
						height: 28px;
						line-height: 28px;
						.borderRadius(2px);
						padding: 0 10px; } }
				.dropdown-menu {
					top: 100%;
					right: -1px;
					width: 240px;
					padding: 0;
					h2, .email {
						.box(~"0 20px"; ~"3px 0"); }
					h2 { font-size: 14px; margin-top: 10px; }
					.email {
						color: @grey;
						font-size: 12px;
						font-weight: 400;
						font-style: italic; }
					.nav {
						float: none;
						margin-top: 10px;
						border-top: 1px solid #ddd;
						background-color: @white;
						a {
							padding: 5px 20px;
							display: block;
							font-weight: bold; } } 
					&:before {
						content: "";
						.bordered(solid; ~"0 10px 10px 10px"; ~"transparent transparent white");
						#positions > #abs > .topRight(-10px; 10px);
					}
				}
				&.open {
					.dropdown-toggle {
						.borderRadius(1px 1px 0 0);
						.linearGradient(top; @white; @white);
						border-bottom: none; } } } } } }


// Footer
body {
	& > .footer { border-top: 1px solid #e5e5e5; } }

.footer {
	font-size: 12px;
	.box(~"20px 0"; ~"20px 0");
	dl.nav {
		.box(~"6px 0 6px 0", 0);
		.pull-left();
		width: 200px;
		dt.leader { margin-bottom: 8px; }
		dd { 
			line-height: @baseLineHeight * 1.25; 
			.box(0;0); }
		a {
			display: inline;
			color: @grey;
			font-weight: bold;
			margin-right: 20px; 
			&:hover { color: @darkLight; }
		}
	}
	.copyright {
		color: @grey;
		font-style: italic;
		margin: 0; }
}
