// GitShell Special Style
// Navbar
.navbar {
	background-color: @white;
	.boxShadow(0 1px 3px rgba(0, 0, 0, .35));
	.navbar-inner {
		.brand {
			color: @dark;
			padding: 0;
			margin-right: 20px;
			font-size: 20px;
			line-height: 30px;
			height: 30px; }
		.nav {
			float: left;
			& > li {
				.bordered(solid; ~"0 1px"; transparent); }
			&.global {
				a {
					font-size: @fontSizeSmall;
					padding: 6px 10px; } }
			.user {
				position: relative;
				display: block;
				padding: 0;
				.size(20px; 20px);
				.avatar {
					.square(20px); } }
			&.account {
				float: right;
				font-size: 12px;
				margin-right: 0;
				.notifications, .dropdown {
					padding: 5px 2px;
					.label {
						height: 20px;
						.borderRadius(0);
						padding: 0 7px; } }
				.dropdown-menu {
					top: 100%;
					right: -1px;
					width: 240px;
					padding: 0;
					h2, .email {
						.box(~"0 20px"; ~"3px 0"); }
					h2 { font-size: 14px; margin-top: 10px; }
					.email {
						color: @grey;
						font-size: 12px;
						font-weight: 400;
						font-style: italic; }
					.nav {
						float: none;
						margin-top: 10px;
						border-top: 1px solid #ddd;
						background-color: @white;
						a {
							padding: 5px 20px;
							display: block;
							font-weight: bold; } } 
					&:before {
						content: "";
						.bordered(solid; ~"0 10px 10px 10px"; ~"transparent transparent white");
						#positions > #abs > .topRight(-10px; 10px);
					}
				}
				&.open {
					.dropdown-toggle {
						.borderRadius(1px 1px 0 0);
						.linearGradient(top; @white; @white);
						border-bottom: none; } } } } } }

