// navbar
.navbar {
	height: 45px;
	background-color: #3b9d9a;
	.navbar-inner {
		.brand {
			.size(78px; 45px);
			text-indent: -9999em;
			overflow: hidden;
			.box(0; ~"0 20px 0 0");
			background: transparent url('/static/img/logo.png') 0 0 no-repeat; }
		.nav {
			&.global {
				a { color: #737373; }
			}
			&.account {
				float: right;
				.notification, .dropdown {
					padding: 10px 0; }
				.label {
					color: @white;
					padding: 2px 10px; }
					.dropdown-toggle { .square(22px); padding: 0; margin-left: 5px; img { .square(22px); } }
				.dropdown-menu { 
					right: 0; 
					min-width: 250px;
					padding: 0;
					.arrowTopRight(6px; 5px; #ccc; #eee; absolute);
					.header {
						.clearfix();
						background-color: #eee;
						padding: 10px 15px;
						border-bottom: 1px solid #ddd;
						.boxShadow(inset 0 1px 0 rgba(255, 255, 255, .85));
						h1, .email { margin: 0; }
						h1 { 
							font-size: 1.75em; a { padding: 0; .userid { display: none; margin-left: 10px;} } 
						}
						.email { color: @grey; font-style: italic; margin-top: 5px; }
					}
						.repo-count {
							float: none;
							padding: 0 15px;
							li { float: none; margin-bottom: 5px; }
							h4 {
								font-size: 10px;
								color: @grey;
								margin: 10px 0 0;
								span { font-size: 11px; font-weight: 400; font-style: italic; }
								.used { margin-left: 10px; }
								.divider {
									color: @grey;
									margin: 0 3px; }
							}
						}
					.nav {
						float: none;
						border-top: 1px solid #ddd;
						padding: 10px 0;
						margin-top: 10px;
						font-size: @baseFontSize - 1;
						a { display: block; padding: 4px 15px; border-bottom: 1px dotted #ddd; 
							&.logout { &:hover { background-color: @red; color: @white; } }
							&:hover { background-color: #efefef; } }
					}
				}
			}
		}
	}
}

// footer
#footer {
	color: @grey;
	font-size: @fontSizeMini;
	.box(~"10px 0"; ~"20px 0");
	//.boxShadow(inset 0 10px 10px fadeout(@black, 95%));
	border-top: 1px solid #c5c8d0;
	.nav {
		a {
			color: #8792a8;
			margin-right: 10px;
			font-weight: bold;
			display: inline-block;
			&.about-gitshell { i { margin-left: 5px; text-decoration: none; } }
			&.free-join { color: @green; }
			&.help { cursor: help; color: @darkLight; }
		}
	}
	.copyright { a { color: @grey; } }
}
