.container {
	width: 980px;
	.centerBlock();
	.clearfix(); }

.inner-container {
	padding: 10px; }

.bubble { 
	.clearfix();
	.header {
		line-height: @baseLineHeight;
		padding: 10px 0; }
	&.bubble-flat { } }

.colspan {
	.span { 
		float: left; }
	.clearfix(); }

.horizontal-list {
	li { 
		float: left; }
	.unstyledList();
	.clearfix(); }
