.container {
	.centerBlock();
	.clearfix(); }

.bubble {
  position: relative;
  border: 1px solid #dbdbdb;
  //.boxShadow(0 1px 0 rgba(0, 0, 0, .025));
  background-color: @white; }

.inner {
  padding: 10px; }

.colspan {
	.span { 
		float: left; }
	.clearfix(); }

.horizontal-list {
	li { 
		float: left; }
	.unstyledList();
	.clearfix(); }

@media(min-width: 1024px) {
	.container {
		//width: 980px;
    min-width: 980px;
    width: 98%; }
	.bubble-inner {
		min-height: 450px;
		width: 100%; }
}

@media(max-width: 1024px) {
	.container {
		width: 980px;
    min-width: 980px;
    max-width: 980px; }
	.bubble-inner {
		min-height: 450px;
		width: 100%; }
}

