.container {
	.centerBlock();
	.clearfix(); }

.bubble-inner {
	position: relative;
	float: left;
	min-height: 300px; }


@media(min-width: 1100px) {
	.container {
		width: 90%; }
	.bubble-inner {
		width: 95%; }
}

@media(max-width: 1024px) {
	.container {
		width: 980px; }
	.bubble-inner {
		width: 929px; }
}

.inner-container { }

.bubble { 
	.clearfix();
	.header {
		line-height: @baseLineHeight;
		padding: 10px 0; }
	&.bubble-flat { } }

.colspan {
	.span { 
		float: left; }
	.clearfix(); }

.horizontal-list {
	li { 
		float: left; }
	.unstyledList();
	.clearfix(); }
