@import 'http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css';
@import 'app/treeview.less';
// Sidenav
.sidenav { display: none; }

.repo {

  // content 
  .content {
    padding-top: 10px;
  }

	.repo-global-bar {
		padding: 10px 0;
		background-color: #dadada;
		border-bottom: 1px solid #c7c7c7;
		@boxShadow: inset 0 1px 0 fadeout(@white, 50%), 0 1px 0 fadeout(@white, 30%);
		.boxShadow(@boxShadow);
		.clearfix();
		.breadcrumb {
			float: left;
			font-weight: bold;
			padding-top: 3px;
			font-size: @baseFontSize * 1.2;
			li { sup { margin-left: 5px; color: @darkLight; } }
		}
		.repo-actions {
			float: right;
			.unstyledList();
			.clearfix();
			li { 
        float: left; 
        margin-left: 10px; 
        .btn { display: block; } 
        &.dropdown {
          .dropdown-menu {
            #arrow > .topLeft(6px;5px;rgba(0, 0, 0, .85);rgba(255, 255, 255, 1); absolute);
            width: 200px;
            top: 120%;
            left: -100%;
            padding: 10px;
          }
        }//.dropdown
      }//li
		}//.repo-actions
	}//.repo-global-bar


	// repo-tabs
	.nav.nav-tabs {
		margin-bottom: 10px;
		li { 
      a { 
        font-size: @fontSizeSmall; 
        //font-weight: 400; 
        line-height: 35px; 
        height: 35px; 
        padding: 0 2px; 
        .label { line-height: 1.2; padding: 3px 5px; margin-left: 5px; } 
      }//a
      &.active {
        a { color: @dark; font-weight: bold; }
      }
    }//li
	}


  //Tab-content
  .tab-content {
    .tab-pane {
      .inner();
    }
  }



	// Pagination
	.pagination {
		.nav {
			font-size: @baseFontSize + 1;
			padding: 5px 10px;
			text-align: center;
			background-color: #edffc6;
			border-bottom: 2px solid #ddeee8;
			a { color: @linkColor; display: inline-block; font-weight: bold; margin: 0 5px; }
		}
	}

  .description {
    color: @dark;
    p { margin: 10px;  }
  }
	// files
	.files {
    padding: 0;
    width: 100%;
    font-family: @sansFontFamily;
    background-color: #fff;
    position: relative;
    .clearfix();
    #file-browser {
      font-size: @fontSizeSmall;
      font-weight: bold;
      float: left;
      width: 200px;
      border-right: 1px solid #d8d8d8;
      background-color: #f2f5f6;
      .ui-resizable-handle.ui-resizable-e { cursor: col-resize; }
      .branches {
        a.dropdown-toggle { 
          position: relative; 
          display: block; 
          margin-bottom: 5px; 
          padding: 5px 25px 5px 10px; 
          .linearGradient(top; #eceef2; #eceef2);
          border-color: #d8d8d8;
          border-bottom: 1px solid #d3d3d3;
        }
        .branch { display: inline-block; text-align: center; }
        .branch-name { color: @dark; }
        .caret { width: 25px; padding: 2px 0; text-align: center; #positions > #abs > .topRight(3px; 0); i { margin-right: 0; } }
        .nav-list {
          width: 100%;
          li { &:hover { background-color: fadeout(@black, 90%); } }
        }
      }
      .nav-list {
        &.treeview {
          font-family: @sansFontFamily;
          padding: 0 10px;
          .textShadow(0 1px 0 fadeout(@white, 10%));
        }
        li { 
          .clearfix(); 
          padding-left: 16px;
          span.fold { color: @dark; padding: 3px 0; }
          a { 
            color: @dark; 
            font-weight: 500;
            text-decoration: none; 
            padding: 4px 0;
            .clearfix(); 
          } 
        }
        .file-icon { display: block; float: left; margin-right: 5px; }
        .fold-collapsed { margin-right: 3px; .opacity(60); img { .transition(all ease-in-out .2s); } &.active { img { .transform(rotate(90deg)); } } }
        i[class^="icon-"] { float: right; display: none; color: @grey; font-size: @baseFontSize; text-decoration: none; &.current { display: inline-block; } }
      }
    }

    .table-container { margin-left: 200px; background-color: #fff; border-left: 1px solid #d8d8d8;
      .theme-selector { 
        .linearGradient(top; #eceef2; #eceef2);
        border-bottom: 1px solid #d3d3d3;
        .boxShadow(inset 1px 0 0 fadeout(@white, 10%));
        #switcher {
          display: inline-block;
          padding: 5px 30px; 
          color: @dark;
          font-weight: bold;
          font-size: @fontSizeSmall;
          text-decoration: none;
          background: transparent url("/static/img/color-wheel.png") 10px center no-repeat;
        }
        .theme-list {
          display: none;
          .unstyledList();
          overflow: auto;
          padding: 0 10px;
          background: #404040;
          .boxShadow(inset 0 0 5px fadeout(@black, 30%));
          li { 
            float: left; 
            padding: 0; 
            &:hover { background: #29898e; }
            a { color: @white; font-size: @fontSizeSmall; font-weight: bold; text-decoration: none; .textShadow(0 -1px 0 fadeout(@black, 60%)); padding: 8px 10px; display: inline-block; } 
          }
        }
      }
      .table { td { padding: 6px 10px; border-color: transparent; } }
      .file-name { font-weight: bold; }
      .commit { color: #777; text-decoration: none; border-bottom: 1px dotted @greyLight; }
      .commiter { color: @grey; }
      .date { color: @grey; text-align: right; }
    }
	}


	// commits
	.commits {
		.commit {
			padding: 0 10px;
			border-bottom: 1px dotted #e5e5e5;
			a { text-decoration: none; &:hover { text-decoration: none; } }
			.commiter {
				width: 90%;
				padding: 8px 0;
				.msg { font-weight: bold; a { &:hover { text-decoration: underline; } } }
				.meta { color: @grey; font-size: @fontSizeSmall; a { color: @grey; border-bottom: 1px dotted fadeout(@grey, 50%); } }
			}
			.hash {
				float: right;
				font-family: @monoFontFamily;
				width: 10%;
				padding: 8px 0;
				a.btn {
					display: inline-block; }
			}
		}

	}
  .inner-container {
    & > .header { padding: 0; margin: 10px 0; border-bottom: 1px solid #ddd; .heading { border-bottom: none; } }
  }


	.cloner {
		.inner-container { margin-top: 10px; padding: 0 10px; }
		// Clone Watchers
		[class*="repo-"] {
			padding-left: 10px;
			padding-right: 10px;
			p.meta {  line-height: @baseLineHeight; }
			.info { float: none; }
		}
		.header-ribbon {
			height: 30px;
			background: transparent url(/static/img/ribbon.png) center center no-repeat;
			.heading { margin: 0; color: white; font-size: 15px; .textShadow(0 1px 0 fadeout(@black, 80%)); text-align: center; line-height: 25px; padding-bottom: 5px; }
			position: relative;
			z-index: 9;
		}
		.watchers {
			.clearfix();
			border-top: 1px solid #ededed;
			margin-top: -13px;
			padding-top: 23px;
			span[title] {
				cursor: help;
				border-bottom: 1px dotted @greyLight; }
			.member {
				float: left;
				width: 25%;
				padding: 10px 0;
				a { text-decoration: none; &:hover { text-decoration: underline; } }
				.avatar { .square(65px); }
				.meta { color: @grey; }
			}
		}
	}
	
	// Network
	.network {
		.inner-container { margin-top: 10px; }
		.header { padding: 0 10px; .heading { font-size: @baseFontSize + 2; } }
		.members {
			.clearfix();
			.member {
				position: relative;
				float: left;
				width: 25%;
				padding: 15px 10px;
				&.active {
					.boxShadow(0 0 3px fadeout(@black, 70%));
				}
				.avatar { .square(80px); }
				.delete-member {
					position: absolute;
					top: 20px;
					right: 10px;
				}
				.add-new-member {
					text-align: center;
					&:hover { background-color: #ebf2fd; }
				}
			}
		}
	}


	// Issues
	.issues {
		.inner-container { .clearfix(); margin: 10px 0 0; }
		.sidebar {
			float: left;
			width: 180px;
			padding: 0 10px;
			.nav {
				.leader { margin: 20px 0 5px; }
				dd { margin-left: 0; }
				a {
					display: block;
					font-weight: bold;
					line-height: @baseLineHeight * 1.2;
					padding-left: 15px;
					border-left: 2px solid transparent;
					position: relative;
					&:hover { border-left-color: @yellow; background-color: #e9e9e9; }
					&.active { color: @green; i { color: @green; #positions > #abs > .topLeft(1px; 0); text-decoration: none; } }
				}
			}
		}

		.issue-list {
			margin-left: 200px;
			padding: 0 10px;
			.header {
				overflow: hidden;
				border-bottom: 1px solid #e5e5e5;
				.heading { float: left; }
				.sort {
					float: right;
					margin-top: 10px;
					li { float: left; }
				}
			}
			.issue {
				padding: 8px 0;
				border-bottom: 1px solid #ddd;
				.data { 
					margin-left: 45px; 
					.title { margin: 0; }
					.issue-id { color: white; font-size: @fontSizeSmall; font-weight: bold; display: inline-block; text-align: center; width: 30px; background-color: @grey; }
					.txt { color: @black; font-weight: 900; text-decoration: none; }
					.meta { color: @grey; font-size: @fontSizeSmall; margin-top: 5px; 
						a { color: @darkLight; margin-left: 3px; } 
						.date { color: @grey; float: right; }
					}
				}
				&.cell {
					.heading {
						float: none;
						overflow: hidden;
						font-size: @baseFontSize * 1.65;
						line-height: @baseLineHeight * 1.45;
						.label {
							float: left;
							font-size: @baseFontSize * 1.75;
							letter-spacing: -1px;
							margin-right: 10px;
						}
					}
					.meta { text-align: right; margin-bottom: 0; color: @grey; a { color: @dark; } 
						.assiged,.unixtime,.actions {
							margin-left: 20px;
						}
					}
					.data .content { font-weight: bold; }
				}
			}

			.comment {
				overflow: hidden;
				.info { float: none; margin-left: 45px; }
				.commenter { margin: 0; font-size: @fontSizeSmall; color: @grey; a { color: @darkLight; } }
				.comment-data { margin: 5px 0; font-weight: bold; }
				.meta { .opacity(0); font-size: @fontSizeSmall; margin-top: 10px; a { color: @grey; margin-right: 10px; } }
			}
		}



	}

	// Pulls
	.pulls {
	}


	// Stats
	.stats {
		.inner-container { .clearfix(); margin-top: 10px; padding: 10px; }
		.repo_chart { max-width: 50%; float: left; }
	}


}



/*
.home {
	.explore();
	.user-plugin {
		.name { font-weight: 400; a { font-weight: bold; } }
		.author { font-weight: 400; margin-right: 10px; }
	}

	.timeline {
		.feedtime {
			padding: 10px;
			.header { .date { color: @dark; padding-bottom: 10px; margin-bottom: 0; border-bottom: 1px solid #ddd; } }
			&.current { background-color: white; }
			.avatar { .box(~"10px 0"; ~"0 0 10px"); img { margin-right: 10px; } a { font-size: @fontSizeLarge; font-weight: bold; } }
			dl.item {
				padding-left: 15px;
				dt.leader { }
				dd { 
					margin-left: 15px; 
					p { margin: 1px 0; line-height: @baseLineHeight * 0.9; .hash { font-size: @fontSizeSmall; font-family: @monoFontFamily; font-weight: bold; padding: 2px 5px; margin-right: 5px; .borderRadius(3px); background-color: #f7f7f7; border: 1px solid #e1e1e1; display: inline-block; } }
				}
			}
		}
	}

}
*/


.repo {

  .subhead {
    //padding: 2px 0;
    .clearfix();
    &.create {
      .heading {
        font-size: 16px;
      }
    }//.create
  }//.subhead

	.content {
    &.create {
      padding-top: 0;
      .nav.nav-tabs {
        margin-top: 5px;
        li {
          a { font-size: 12px; }
        }
      }//.nav.nav-tabs

      .form-horizontal {
        padding: 10px 0;
        @{inputs} {
          .size(500px; 22px);
        }
        textarea {
          .size(500px; 120px);
          resize: none;
        }
        .control-group { margin-bottom: 10px; 
          &.source-repo-auth {
            display: none;
            .controls {
              padding: 5px 10px;
              font-size: 12px;
              font-weight: bold;
              input {
                font-size: 12px;
                width: 100px;
              }
            }
          }
        }
        .control-label { 
          font-weight: bold;
        }
        .controls {
          margin-left: 110px;
          select {
            margin: 5px 0;
          }
          label {
            display: inline-block;
            margin: 5px;
          }
          .private { font-size: 12px; font-weight: bold; margin-left: 5px; cursor: pointer; }
          .alert { 
            margin-left: 10px; 
          }
        }
      }
      .connect-github {
        margin: 30px 0;
      }
      .form-alert {
        position: relative;
        margin: 15px 0;
        .remove {
          color: @black;
          font-weight: 400;
          text-decoration: none;
          #positions > #abs > .topRight(5px; 5px);
          cursor: pointer;
        }
        p { margin: 0; }
      }//.form-alert

      .tab-content {
        .bubble();
        .tab-pane {
          padding: 10px;
        }
        .repo {
          position: relative;
          .clearfix();
          padding: 5px 0;
          &:hover { background-color: fadeout(@yellow, 75%); }
          .repo-fig {
            float: left;
            margin-right: 10px;
            img { .square(36px); }
          }//.repo-fig
          .heading { margin: 0; }
          .hash { color: @grey; font-size: @fontSizeSmall; font-weight: bold; margin: 0; }
          .import-repo-button {
            #positions > #abs > .topRight(10px; 10px);
          }
        }//.repo
      }//.tab-content
    }//.create
  }//.content
}//.repo
