@import 'https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css';
@import 'app/treeview.less';
// Sidenav
.sidenav { display: none; }

.repo {

  // content 
  .content {
    padding-top: 10px;
  }

  .inner-container {
    & > .header { padding: 0; margin: 10px 0; border-bottom: 1px solid #ddd; .heading { border-bottom: none; } }
  }//.inner-container

  //.repo-global-bar
	.repo-global-bar {
		padding: 10px 0;
		background-color: #dadada;
		border-bottom: 1px solid #c7c7c7;
		@boxShadow: inset 0 1px 0 fadeout(@white, 50%), 0 1px 0 fadeout(@white, 30%);
		.boxShadow(@boxShadow);
		.clearfix();
		.breadcrumb {
      float: left;
      font-weight: bold;
      padding-top: 3px;
      font-size: @baseFontSize * 1.2;
      li {
        sup { color: @darkLight; } 
        &.repo-nav {
          margin-left: 10px;
          .dropdown-toggle {
            text-decoration: none;
            cursor: default;
            .btn {
              display: inline-block;
              font-size: 12px;
              position: relative;
              top: -2px; 
              padding: 3px 4px;
              line-height: 1;
              cursor: pointer;
              i { margin-right: 0; }
            }
          }
          .dropdown-menu {
            font-size: @baseFontSize;
            //font-weight: normal;
            background-color: #42a8ab;
            right: 0;
            li {
              margin: 3px 0;
              a {
                color: @white;
                padding: 4px 5px;
                border-left: 2px solid transparent;
                i { display: none; .circle(20px); }
                &:hover {
                  color: #42a8ab;
                  text-decoration: none;
                  border-left-color: @white;
                  background-color: @white;
                }
              }//a
              &.active {
                a { border-left-color: @white; }
              }//.active
            }//li
          }//.dropdown-menu
        }//.repo-nav
        &.forked {
          font-size: 12px;
          font-weight: normal;
          padding-left: 10px;
          p {
            span {
              color: @darkLight;
              font-weight: bold;
              margin-right: 5px;
            }
            margin: 0;
          }//p
        }
      }//li
		}
		.repo-actions {
			float: right;
			.unstyledList();
			.clearfix();
			li { 
        float: left; 
        margin-left: 10px;
        .btn { display: block; border-color: rgba(0, 0, 0, .5) rgba(0, 0, 0, .5) rgba(0, 0, 0, .55); .boxShadow(0 1px 0 fadeout(@black, 90%)); }
        &.clone-url {
          position: relative;
          .menu-toggle {
            display: inline-block;
          }//.menu-toggle
          .clone-menu {
            #arrow > .topLeft(6px;5px;rgba(0, 0, 0, .85);rgba(255, 255, 255, 1); absolute);
            &:before { left: 135px; }
            &:after { left: 136px; }
            display: none;
            width: 300px;
            top: 120%;
            left: -150%;
            padding: 10px;
            position: absolute;
            z-index: @zindexDropdown;
            background-color: @white;
            background-clip: padding-box;
            border: 1px solid rgba(0, 0, 0, .35);
            .boxShadow(0 0 5px rgba(0, 0, 0, .2));
            .btn { .borderRadius(2px 0 0 2px); }//.dropdown-toggle
            dt.span {
              position: relative;
            }//
            .nav {
              display: none;
              min-width: 80px;
              width: 80px;
              padding: 0;
              position: absolute;
              top: 100%;
              left: 0;
              background-color: white;
              background-clip: padding-box;
              border: 1px solid rgba(0, 0, 0, .35);
              .boxShadow(0 0 5px rgba(0, 0, 0, .35));
              li {
                float: none;
                margin: 0;
                a {
                  padding: 5px;
                  &:hover {
                    color: @white;
                    background-color: @linkColor;
                  }//&:hover
                }//a
              }//li
            }//.dropdown-menu
            .url-holder {
              input {
                display: inline-block;
                float: none;
                color: @darkLight;
                font-size: @fontSizeSmall;
                font-family: monaco, menlo, @monoFontFamily;
                .size(220px; 30px);
                padding: 0 3px;
                border-color: rgba(0, 0, 0, .45);
                border-left: none;
                .borderRadius(0 2px 2px 0);
                .boxShadow(inset 0 1px 1px rgba(0, 0, 0, .25));
              }//input.btn
            }//.url-holder
          }//.clone-menu
        }//.dropdown
      }//li
		}//.repo-actions
	}//.repo-global-bar

  //repo .nav-tabs
	.nav.nav-tabs {
		margin-bottom: 10px;
		li { 
      a { 
        font-size: @fontSizeSmall; 
        //font-weight: 400; 
        line-height: 35px; 
        height: 35px; 
        padding: 0 2px; 
        .label { line-height: 1.2; padding: 2px 4px 0; margin-left: 5px; .borderRadius(2px); } 
      }//a
      &.active {
        a { color: @dark; font-weight: bold; }
      }
    }//li
	}

  // .pagination
	.pagination {
    font-size: @baseFontSize + 1;
    padding: 5px 10px;
    margin: 15px 0;
    text-align: center;
    a { font-weight: bold; margin: 0 5px; 
      img {
        position: relative;
        bottom: -3px;
      }
    }
	}//.pagination

  //.tab-content
  .tab-content {
    .tab-pane {
      .inner();
    }
  }

  //.description
  .description {
    color: @dark;
    p { margin: 10px;  }
  }//.description

  //.file
	.files {
    padding: 0;
    //width: 100%;
    font-family: @sansFontFamily;
    background-color: #fff;
    position: relative;
    .clearfix();
    &:before {
      display: block;
      content: "";
      width: 200px;
      background-color: #f2f5f6;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      z-index: 0;
    }//&:before
    //#file-browser
    #file-browser {
      font-size: @fontSizeSmall;
      font-weight: bold;
      float: left;
      width: 200px;
      border-right: 1px solid #d8d8d8;
      background-color: #f2f5f6;
      .ui-resizable-handle.ui-resizable-e { cursor: col-resize; }
      .branches {
        a.dropdown-toggle { 
          position: relative; 
          display: block; 
          margin-bottom: 5px; 
          padding: 5px 25px 5px 10px; 
          .linearGradient(top; #eceef2; #eceef2);
          border-color: #d8d8d8;
          border-bottom: 1px solid #d3d3d3; }
        .branch { display: inline-block; text-align: center; }
        .branch-name { color: @dark; }
        .caret { width: 25px; padding: 2px 0; text-align: center; #positions > #abs > .topRight(3px; 0); i { margin-right: 0; } }
        .nav-list {
          width: 100%;
          li {
            padding: 0;
            &:hover { background-color: fadeout(@black, 90%); }
            a {
              padding: 5px;
            }//a
          }//li
        }//.nav-list
      }//.branches
      .nav-list {
        &.treeview {
          font-family: @sansFontFamily;
          padding: 0 10px;
          .textShadow(0 1px 0 fadeout(@white, 10%)); }
        li { 
          .clearfix(); 
          padding: 1px 5px 1px 16px;
          span.fold { color: @dark; padding: 4px 0; img { position: relative; bottom: -2px; margin-right: 3px; } }
          a.file { padding: 2px 0; img { position: relative; bottom: -2px; margin-right: 3px; } }
          a { 
            color: @dark; 
            font-weight: 500;
            text-decoration: none; 
            padding: 6px 0;
            .clearfix(); } 
        }//li
        .file-icon { display: block; float: left; margin-right: 5px; }
        .fold-collapsed { margin-right: 3px; .opacity(60); img { .transition(all ease-in-out .2s); } &.active { img { .transform(rotate(90deg)); } } }
        i[class^="icon-"] { float: right; display: none; color: @grey; font-size: @baseFontSize; text-decoration: none; &.current { display: inline-block; } }
      }//.nav-list
    }//#file-browser

    //.table-container
    .table-container { 
      //margin-left: 200px;
      background-color: #fff;
      //border-left: 1px solid #d8d8d8;
      position: relative;
      z-index: 2;
      //.theme-selector
      .theme-selector { 
        .clearfix();
        .linearGradient(top; #eceef2; #eceef2);
        background-clip: border-box;
        .branches {
            float: left;
            padding: 5px;
            .dropdown-toggle {
                font-weight: bold;
                .btn();
                padding: 2px 6px;
            }//.dropdown-toggle
            .dropdown-menu {
                a {
                    padding: 3px 5px;
                    &:hover {
                        color: @white;
                        background-color: @linkColor;
                    }
                }
            }//.dropdown-menu
        }//.branches
        .current-branch-name {
            margin-left: 10px;
           display: inline-block;
           font-weight: bold; 
           position: relative;
           bottom: -8px;
           .divider { color: @grey; font-weight: normal; margin: 0 5px; }
        }//.current-branch-name
        .group {
            .current-branch-name {
                bottom: 0; }
            .views {
                padding: 5px;
                a { .btn(); padding: 2px 5px; font-size: @fontSizeSmall; line-height: 1.2; }
            }//.views
        }//.group
        #switcher {
          display: inline-block;
          padding: 5px 5px 5px 30px; 
          color: @dark;
          font-weight: bold;
          font-size: @fontSizeSmall;
          text-decoration: none;
          background: transparent url("/static/img/color-wheel.png") 10px center no-repeat; }
        .theme-list {
          display: none;
          .unstyledList();
          overflow: auto;
          padding: 0 10px;
          background: #404040;
          .boxShadow(inset 0 0 5px fadeout(@black, 30%));
          li { 
            float: left; 
            padding: 0; 
            &:hover { background: #29898e; }
            &.active { background-color: transparent; a { color: @linkColorLight; } }
            a { color: @white; font-size: @fontSizeSmall; font-weight: bold; text-decoration: none; .textShadow(0 -1px 0 fadeout(@black, 60%)); padding: 8px 10px; display: inline-block; } 
          }//li
        }//.theme-list
      }//.theme-selector
      .table { td { padding: 6px 10px; border-color: transparent; } }
      .file-name { font-weight: bold; }
      .commit { color: #777; text-decoration: none; border-bottom: 1px dotted @greyLight; }
      .commiter { color: @grey; }
      .date { color: @grey; text-align: right; }
    }//.table-container
	}//.files

  //.readme
  .readme {
    margin-top: 10px;
    .title {
      padding: 10px;
      border-bottom: 1px solid #d8d8d8;
      .linearGradient(top; #f9f9f9; #f5f5f5);
      .heading {
        font-size: @baseFontSize * 1.1;
        line-height: 1.2;
        margin: 0;
      }//.heading
    }//.title
  }//.readme

  //.file-list /.code
  .file-list {
    .header {
      .clearfix();
      margin-bottom: 10px;
      .branches {
        float: left;
        .dropdown-toggle {
          display: inline-block;
          .btn();
          padding: 3px 10px;
        }
        .dropdown-menu {
          a {
            padding: 3px 10px;
            &:hover {
              color: @white;
              background-color: @linkColor;
            }
            .icon-ok {
              float: right;
            }
          }//a
        }//.dropdown-menu
      }//.branches
      .actions {
        float: right;
        .btn {
          display: inline-block;
        }
      }//.actions
    }//.header
    .code {
      line-height: 1;
      .line {
        display: inline-block;
        color: @grey;
        font-size: @fontSizeSmall;
        font-weight: bold;
        line-height: 20px;
        height: 20px;
        margin-right: 10px;
        border-style: solid;
        border-width: 0 1px;
        border-color: transparent #f1f1f1 transparent;
        background-color: #f9f9f9;
        &:first-child {
          border-top: 1px solid #f1f1f1;
          .borderRadius(3px 3px 0 0); }
        &:last-child {
          border-bottom: 1px solid #f1f1f1;
          .borderRadius(0 0 3px 3px); }
        &:before {
          border: none;
          padding-right: 0;
        }
      }//.line
      pre {
        margin: 0;
      }//pre
      code {
        padding: 10px 5px;
        font: 13px Consolas, "Liberation Mono", Courier, monospace;
      }//code
    }//.code
  }//.file-list

  //.commits
	.commits {
    padding: 10px;
    //.header
    .header {
      border-bottom: 1px solid #f1f1f1;
      padding-bottom: 10px;
      .clearfix();
      .branches {
        float: left;
        .btn();
        padding: 5px 10px;
        margin-right: 10px;
        .dropdown-toggle { text-decoration: none; color: @dark; }
        .dropdown-menu {
          left: -1px;
          a { font-size: 14px; font-weight: normal; padding: 2px 5px; .textShadow(none); 
            &:hover { color: @white; background-color: @linkColor; } 
            i[class^="icon-"] {
              float: right; 
            }
          }//a
        }//.dropdown-menu
      }//.branches
      .heading {
        float: left;
        font-size: 14px;
        padding: 6px 0 4px;
        margin: 0;
        .count { margin-left: 5px; font-size: 13px; font-style: italic; color: @darkLight; padding: 4px 5px; }
      }//.heading
    }//.header

    //.commit
		.commit {
      display: table;
      width: 100%;
			border-bottom: 1px solid #f1f1f1;
      overflow: hidden;
			.commiter {
        float: left;
				width: 85%;
				padding: 8px 0;
        overflow: hidden;
        .avatar {
          float: left;
          .square(40px);
          margin-right: 10px; }
        .summary {
          .msg, .meta { margin: 3px 0; }
          .msg { font-weight: bold; font-size: @baseFontSize; }
          .meta { color: @grey; a { color: @grey; } }
        }//.sumamry
			}//.commiter
			.hash {
        display: block;
				float: right;
        text-align: right;
				width: 15%;
				padding: 8px 0;
				a.btn {
          margin-top: 5px;
					display: inline-block; }
			}//.hash
		}//.commit

	}//.commits

  //.branches
  .branch-list {
    padding: 10px;
    .header {
      .clearfix();
      border-bottom: 1px solid #f1f1f1;
      .heading {
        font-size: 15px;
        float: left;
      }//.heading
        .create {
            display: inline-block;
            font-weight: bold;
            margin: 6px 15px;
        }
      .branch-manage {
        float: right;
        padding: 4px 10px;
      }//.branch-manage
    }//.header
    .branch {
      padding: 7px 0;
      border-bottom: 1px solid #f1f1f1;
      .clearfix();
      @group: ~".summary, .actions";
      @{group} {
        float: left;
      }//@group

      //.summary
      .summary {
        width: 80%;
        @group: ~".name, .last-commit";
        @{group} {
          line-height: 1.2;
          margin: 3px 0;
        }//@group
        .name {
          font-size: @baseFontSize + 1;
        }//.name
        .last-commit {
          color: @grey;
        }//.last-commit
      }//.summary

      //.actions
      .actions {
        .unstyledList();
        .clearfix();
        width: 20%;
        li {
          float: left;
          margin: 10px 3px 0;
          .btn {
            padding: 5px 10px;
          }
        }//li
      }//.actions

    }//.branch
  }//.branches

  //.tags
  .tags {
    padding: 10px;
    .refs-create {
        padding: 20px 10px;
    }
    .branch {
        .actions {
            li { float: right; }
        }
    }
  }//.tags

  //.pulse
	.pulse {
		.inner-container { margin-top: 10px; padding: 0 10px; }
		// Clone Watchers
		[class*="repo-"] {
      padding: 15px 0;
			.summary { float: none; }
      .name, .meta { margin: 5px 0; }
			.meta { line-height: @baseLineHeight; }
		}//[class*="repo-"]
		.header-ribbon {
			height: 30px;
			background: transparent url(/static/img/ribbon.png) center center no-repeat;
			.heading { margin: 0; color: white; font-size: 15px; .textShadow(0 1px 0 fadeout(@black, 80%)); text-align: center; line-height: 25px; padding-bottom: 5px; }
			position: relative;
			z-index: 9;
		}//.header-ribbon
		.watchers {
			.clearfix();
			border-top: 1px solid #ededed;
			margin-top: -13px;
			padding-top: 23px;
			span[title] {
				cursor: help;
				border-bottom: 1px dotted @greyLight; }
			.member {
				float: left;
				width: 25%;
				padding: 10px 0;
        min-height: 140px;
				a { text-decoration: none; &:hover { text-decoration: underline; } }
				.avatar {
          .square(65px);
          //.centerBlock();
        }
        .summary {
          //text-align: center;
          .name { margin: 5px 0; }
          .meta { color: @grey; margin: 5px 0; }
        }//.summary
			}//.member
		}//.watchers
    .stars {
      .watchers;
    }//.stars
	}//.pulse

  //.network
	.network {
		.inner-container { margin-top: 10px; }
		.header { .heading { font-size: @baseFontSize + 2; } }
		.members {
			.clearfix();
			.member {
				position: relative;
				float: left;
				width: 25%;
				padding: 15px 10px;
				&.active {
					.boxShadow(0 0 3px fadeout(@black, 70%));
				}
				.avatar { }
				.delete-member {
					position: absolute;
					top: 20px;
					right: 10px;
				}
				.add-new-member {
					text-align: center;
					&:hover { background-color: #ebf2fd; }
				}//.add-new-member
			}//.member
		}//.members
	}//.network

  //.issues
	.issues {
    .clearfix();
    //.sidebar
		.sidebar {
			float: left;
			width: 180px;
			.nav {
				.leader { margin: 15px 0 5px; }
				dd { margin-left: 0; }
				a {
					display: block;
          color: @darkLight;
					//font-weight: bold;
					padding: 2px 0 2px 10px;
					border-left: 2px solid transparent;
					position: relative;
					&:hover { border-left-color: @yellow; background-color: #f1f1f1; }
					&.active { 
            color: @linkColor; 
            font-weight: bold;
            text-decoration: none;
            //border-left-color: @linkColor;
            i { display: none; color: @green; #positions > #abs > .topLeft(1px; 0); text-decoration: none; } 
          }
				}//a
			}//.nav
		}//.sidebar

		.primary {
			margin-left: 180px;
			padding: 0 10px;

      //.header
      .header {
        overflow: hidden;
        padding: 0 0 10px;
        border-bottom: 1px solid #e5e5e5;
        .new-issue-btn {
          float: left;
          display: block;
        }
        //.sortable
        .sortable {
          float: right;
          margin: 0;
          overflow: hidden;
          .btn-group();
          .unstyledList();
          li { float: left; .btn { display: inline-block; } }
        }//.sort
      }//.header

      //.issue
			.issue {
				padding: 10px 0;
				border-bottom: 1px solid #f1f1f1;
        overflow: hidden;
        /*
        .avatar {
          float: left;
          margin-right: 10px;
        }//.avatar
        */

        //.tracker
        .tracker {
          float: left;
          width: 60px;
          margin-right: 10px;
          .label {
            color: @dark;
            display: block;
            text-align: center;
            line-height: 19px;
            height: 19px;
            padding: 0;
            .borderRadius(0);
            border-bottom: 1px solid rgba(0, 0, 0, .055);
            &.issue-id { color: @darkLight; }
            &.status { font-size: @fontSizeMini; font-weight: bold; }
            &.open { background-color: #b7c7b1; }
            &.assigned { background-color: #bfbbc8; }
            &.processing { background-color: #aac1c9; }
            &.resolved { background-color: #a8c9b8; }
            &.closed { background-color: #c9c0be; }
            &.rejected { background-color: #bdc3c7; }
          }
          .issue-id {
            //font-weight: bold;
            background-color: #ecf0f1;
          }//.issue-id
        }//.tracker

        //.summary
				.summary { 
          .title {
            overflow: hidden;
            .heading { float: left; margin: 0; font-size: @baseFontSize; 
              .label {
                color: @white;
                font-size: @fontSizeMini;
                padding: 3px 5px; 
                line-height: 1; 
                position: relative; 
                top: -2px;
                .borderRadius(1px);
                border-bottom: 1px solid rgba(0, 0, 0, .25);
                &.reponame { background-color: #3297e1; }
                &.defect { background-color: #f17388; }
                &.feature { background-color: #1fbc99; }
                &.support { background-color: #a469c4; }
              }
            }//.heading
            .txt { color: @black; font-weight: 900; }
            .issue-id { 
              float: right;
              display: inline-block;
              color: @grey; }
          }//.title
					.meta { 
            color: @grey;
            font-size: @fontSizeSmall;
            margin-top: 5px; 
						a { color: @grey; margin-left: 3px; } 
						.date { }
					}//.meta
				}//.summary
			}//.issue

		}//.primary
	}//.issues

  //.issue-show
  .issue-show {
    .breadcrumb {
      font-size: 14px;
      font-style: italic;
    }//.breadcrumb
    .issue {
      padding-bottom: 10px;
      margin: 8px 0;
      border-bottom: 3px double #e5e5e5;
      .clearfix();
      .avatar {
        float: left;
        .square(55px);
      }
      .heading {
        float: none;
        font-size: @baseFontSize * 1.35;
        line-height: @baseLineHeight * 1.55;
        margin: 0;
        .actions {
          //#positions > #abs > .bottomRight(0;0);
          float: none;
          font-size: 14px;
          position: relative;
          top: -3px;
        }
      }//.heading
      .detail {
        margin-left: 75px;
        position: relative;
        .content {
          margin: 5px 0;
        }
        .meta { 
          display: inline-block;
          color: @grey;
          font-style: italic;
          font-size: @fontSizeSmall;
          margin: 5px 0;
          //background-color: #f3f3f3;
          .clearfix();
          .label {
            color: @white;
            font-size: @fontSizeMini;
            padding: 3px 5px; 
            line-height: 1; 
            position: relative; 
            top: -2px;
            .borderRadius(1px);
            border-bottom: 1px solid rgba(0, 0, 0, .25);
            &.reponame { background-color: #3297e1; }
            &.defect { background-color: #f17388; }
            &.feature { background-color: #1fbc99; }
            &.support { background-color: #a469c4; }
          }//.label
          a { color: @grey; } 
          .assign {
            img { position: relative; bottom: -4px; }
            a { margin: 0 2px; }
          }
          .unixtime { margin-left: 10px; }
        }//.meta
        .actions {
          #positions > #abs > .topRight(0; 0);
        }//.actions
      }//.detail
    }//.issue
  .comment {
    padding: 8px 0;
    margin: 0;
    border-bottom: 1px solid #f1f1f1;
    overflow: hidden;
    .avatar {
      .square(55px);
      float: left; }
    .detail {  
      margin-left: 75px;
      .meta {
        color: @grey;
        font-size: @fontSizeSmall;
        a { color: @grey; }
      }//.meta
      .commenter {
        margin: 0;
        font-size: @fontSizeSmall;
        color: @grey;
        a { color: @darkLight; } 
      }
      .content {
        padding: 5px 0;
        textarea {
          width: 80%;
          min-height: 80px;
        }
      }//.content
      .actions {
        float: right;
      }
    }//.detail
  }//.comment
  }//.issue-show

  //.issue-form
  .issue-form {
    .heading {
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
    }//.heading
    .form{
      margin: 10px 0;
      .fields {
        margin: 10px 0;
        .group {
          display: inline-block;
          margin-right: 20px;
          b { margin-right: 5px; }
          select { margin-right: 3px; }
        }
        #id_subject { width: 800px; height: 26px; }
        textarea { display: block; width: 800px; min-height: 220px; }
      }//.fields
      .actions {
        float: none;
        .btn {
          padding: 7px 20px;
        }
      }
    }//.form
  }//.issue-form

  //.pulls
	.pulls {
    .header {
      .heading {
        padding-bottom: 10px;
        border-bottom: 1px solid #e5e5e5;
      }
    }//.header
      .refs {
        margin-bottom: 20px;
        //.well();
        .label {
          margin: 0 3px;
          position: relative;
          top: -1px;
          font-family: Monaco, Menlo, @monoFontFamily;
          letter-spacing: -1px;
        }//.txt
        .pull-id {
          color: @darkLight;
          font-size: @baseFontSize;
          //font-weight: normal;
          margin-right: 5px;
        }
      }//.refs
      .pull {
        .avatar {
          .square(55px);
          float: left;
        }
        .detail {
          margin-left: 75px;
          .heading { font-size: 18px; }
          .desc {
            font-style: italic;
            padding: 5px 10px;
            border-left: 1px solid #ddd;
            p { color: @darkLight; margin: 0 0 10px; .textOverflow(); }
          }//.desc
          .actions {
            float: none;
            margin: 20px 0;
            .btn { display: inline-block; }
          }//.actions
        }//.detail
      }//.pull
	}//.pulls

  //.pull-form
  .pull-form {
    .heading {
    }
    .repo-refs {
      .well();
      //background-color: #ecebe8;
      padding: 20px 10px;
      margin: 10px 0;
      .chevron {
        margin: 0 10px;
        i { margin-right: 0; }
      }
      select {
        //.linearGradient(top; fadeout(@white, 65%); fadeout(@white, 95%));
        //@boxShadow: ~'0 1px 0 rgba(255, 255, 255, .25), inset 0 1px 0 rgba(255, 255, 255, .55)';
        //.boxShadow(@boxShadow);
        width: 150px;
        .textOverflow();
        .btn();
      }//select
    }//.repo-refs

    .form-horizontal {
      padding: 20px 0;
      margin-bottom: 20px;
      border-bottom: 1px solid #f1f1f1;
      .control-label {
        font-weight: bold;
      }//.control-label
      .controls {
        input { width: 400px; height: 26px; }
        textarea { width: 400px; max-width: 400px; min-height: 100px; }
      }//.controls
    }//.form-horizontal

  }//.pull-form

  //.compare
  .compare {
    .pull-form();
  }//.compare

  //.stats
	.stats {
		.inner-container { .clearfix(); margin-top: 10px; padding: 10px; }
		.repo_chart { max-width: 50%; float: left; }
	}//.stats

  //.graph
  .graph {
    .header {
      padding: 10px;
      background-color: #252c32;
      border-bottom: 2px solid #2a343a;
      .dropdown-toggle {
        .branch { font-weight: bold; }
      }//.dropdown-toggle
      .dropdown-menu {
        padding: 5px 0;
        border-color: rgba(0, 0, 0, .75);
        a {
          padding: 0 5px;
          .icon-ok { float: right; }
          &:hover { background-color: @linkColor; color: white; }
        }//a
      }//.dropdown-menu
    }//.header
    .refs-graph {
      padding: 10px 0;
      background-color: #252c32;
      p {
        color: #84898c;
        font-family: @monoFontFamily;
        padding: 2px 0;
        line-height: 1;
        margin: 0 5px;
        //border-bottom: 1px solid #f9f9f9;
        &:hover {
          background-color: #2a343a;
        }//
        .label {
          padding: 2px 4px;
          font-size: @fontSizeMini;
          font-weight: bold;
        }//.label
        .c_commit_hash {
          color: #7ec952;
          font-family: @monoFontFamily;
          margin-left: 5px;
        }//c_commit_hash
        .c_date_relative {
          color: #9a9a8d;
          font-family: @sansFontFamily;
          font-style: italic;
          float: right;
        }//c_date_relative
        .c_commit {
          color: #f0f0f0;
          font-family: @sansFontFamily;
        }//c_commit
        .c_author {
          color: #dda875;
          font-family: @sansFontFamily;
        }//c_author
      }//
    }//.refs-graph
  }//.graph

  //.settings
  .settings {
    .heading {
      padding-bottom: 10px;
      border-bottom: 1px solid #e5e5e5;
    }//.heading
    .form-horizontal {
      .control-label {
        color: @darkLight;
        font-weight: bold;
      }
      .controls {
        padding: 5px 0;
        textarea { width: 80%; max-width: 80%; min-height: 100px; }
        .option { display: inline-block; margin-right: 10px; }
        .text-warning { font-style: italic; }
        .btn { padding: 7px 20px; }
      }
    }//.form-horizontal
    .dropbox-deploy {
      .unstyledList();
      padding: 20px 100px;
      li {
        margin-bottom: 20px;
        .heading { border-bottom: none; padding-bottom: 0; }
        .actions { float: right; }
      }//li
    }//.dropbox-deploy
    .destroy {
      padding: 20px 100px;
    }//.destroy
  }//.settings

  //.subhead
  .subhead {
    //padding: 2px 0;
    .clearfix();
    .create-repo {
      font-size: 16px;
      margin: 12px 0;
      em {
        font-size: @baseFontSize;
        font-weight: normal;
        margin-left: 10px; }
    }
  }//.subhead

  //.content
	.content {
    .create-repo {
      padding: 10px 0;

      .nav.nav-tabs {
        margin-top: 5px;
        li {
          a { font-size: 12px; }
        }
      }//.nav.nav-tabs

      .form-horizontal {
        padding: 10px 0;
        @{inputs} {
          .size(500px; 22px);
        }
        textarea {
          .size(500px; 120px);
          resize: none;
        }
        .control-group {
          margin-bottom: 10px; 
          &.source-repo-auth {
            display: none;
            .controls {
              padding: 5px 10px;
              font-size: 12px;
              font-weight: bold;
              input {
                font-size: 12px;
                width: 100px;
              }
            }
          }
        }//.control-group
        .control-label { 
          font-weight: bold;
        }
        .controls {
          margin-left: 110px;
          select {
            margin: 5px 0;
          }
          label {
            display: inline-block;
            margin: 5px;
          }
          .private { font-size: 12px; font-weight: bold; margin-left: 5px; cursor: pointer; }
          .text-warning { 
            margin: 0;
          }
        }//.controls
      }//.form-horizontal

      .form-alert {
        position: relative;
        margin: 15px 0;
        .remove {
          color: @black;
          font-weight: 400;
          text-decoration: none;
          #positions > #abs > .topRight(5px; 5px);
          cursor: pointer;
        }
        p { margin: 0; }
      }//.form-alert

      .repo {
        padding: 10px;
        border-bottom: 1px solid #f3f3f3;
        .clearfix();
        &.hovered { background-color: #f9f9f9; }
        .action {
          float: right;
          margin-top: 10px;
        }//.action
        .repo-avatar {
          float: left;
        }//.repo-avatar
        .summary {
          margin-left: 70px;
          .title,.meta,.desc,.url {
            margin: 3px 0;
          }
          .title {
            font-size: 18px;
            font-weight: normal;
            line-height: 1.2;
            margin-top: 0;
            a { color: @dark; }
          }
          .meta {
            display: none;
            color: @grey;
            .size { margin-right: 20px; }
            a { color: @grey; font-size: @fontSizeSmall; }
          }//.meta
          .desc {
            color: @darkLight;
          }//.desc
          .url {
            color: @darkLight;
            font-family: Monaco, Menlo, @monoFontFamily;
            font-size: @fontSizeSmall;
            letter-spacing: -1px;
          }
        }//.summary
      }//.repo #Github-import
      .connect-github {
        margin: 0 10px;
      }//.connect-github

    }//.create-repo

    //.delete-repo
    .delete-repo {
      h1.heading {
        padding-bottom: 15px;
        border-bottom: 1px solid #e5e5e5;
      }
      .notice {
        margin: 10px 0;
        .leader { font-size: 14px; }
        dd {
          padding-left: 20px;
          font-style: italic;
          line-height: @baseLineHeight * 1.2;
        }
      }//.notice
      form {
        text-align: center;
      }//form
    }//.delete-repo

    //.collaborator
    .collaborator {
      .header {
        .heading {
          font-size: 18px;
          line-height: 1;
        }
        .note {
          color: @grey;
          font-style: italic;
        }
      }//.header
      .members {
        .clearfix();
        .member {
          float: left;
          width: 23%;
          .name,.meta {
            margin: 5px 0;
          }
        }//.member
      }//.members
    }//.collaborator

  }//.content


}//.repo

