.HS { //only used as a less mixin
  .sidebar {
    float: left;
    width: 20%;
    .nav { 
      .box(0; 0);
      dd { margin: 0 0 20px; }
      a {
        font-weight: bold;
        margin: 7px 0;
        span {
          display: block; }
        &.active {
          color: @dark;
          text-decoration: none;
          border-left-color: @darkLight;
        }
      }
    }//.nav
  }//.sidebar

  .primary {
    float: right;
    width: 80%;
    .heading {
      display: block;
      width: 100%;
      margin-bottom: 10px;
      small {
        color: @grey;
        font-weight: 400;
        margin-left: 20px; } }
    @list: ~'ol, ul, dl';
    @{list} {
      margin-top: 10px;
      margin-bottom: 10px; }
  }//.primary

}//.HS

.helps {
  .HS();
  .subhead {
    .heading {
      .last-update { font-size: @baseFontSize; margin-left: 10px; color: @darkLight; }
    }
  }//.subhead
  .inner { padding: 0 10px; }
  .content { padding-top: 10px; }
  .article {
    .clearfix();
    .bubble();
    padding: 20px 0;

    .primary {
      ul .leader {
        font-weight: bold;
        margin-right: 10px; }
      .http-error h3 {
        color: #b94a48;
        font-size: 18px;
        line-height: 1.2; }
      .http-error h3 + p {
        color: #919191; }
      dt { font-weight: bold; }

      section {
        line-height: 1.65;
        margin-bottom: 40px; 
        &:first-child {
          padding-top: 0;
          margin-top: 0; }
        a { text-decoration: underline; }
        h2 {
          margin: 0; }
        dl.faq dt {
          font-size: 14px;
          margin-bottom: 5px; }
        .well {
          .bordered(solid; ~"1px 1px 1px 2px"; ~"#ebebeb #ebebeb #ebebeb #3190d3");
          .box(~"5px 15px 5px 15px"; ~"0 0 15px 0");
          font-weight: bold;
          background-color: #fbfbfb; }
        .label {
          color: @darkLight;
          font-weight: bold;
          margin: 0 5px;
          border: 1px solid #ebebeb;
          background-color: #f9f9f9; }
      }//section

    }//.primary
  }//.article
}//.helps


.settings {
  .HS();
  .content {
    padding-top: 10px;
    .container {
      .bubble();
      .inner { padding: 0 10px; position: relative; }
    }//.container
  }//.content

  .sidebar {
    margin-top: 20px;
    .repo-count {
      padding: 0;
      .unstyledList();
      p {
        font-size: @fontSizeSmall;
        color: @darkLight;
        margin: 10px 0 3px;
        span {  }
        .used { margin-left: 10px; }
        .divider {
          color: @grey;
          margin: 0 3px; }
      }
    }//.repo-count

    .destroy-account {
      p {
      font-size: 12px; }
    }//.destroy-account
  }//.sidebar

  .primary {
    margin-top: 20px;
    min-height: 450px;

    .row {
      margin-bottom: 20px;
    }//.row

    .emails {
      .unstyledList();
      li {
        .clearfix();
        padding: 10px 0 10px 25px;
        border-bottom: 1px solid #e5e5e5;
        &.primary-email {
          .summary {
            .label {
              .circle(16px);
              padding: 0;
              #positions > #abs > .topLeft(3px; -25px;);
              i { margin-right: 0; }
            }
            .email { 
              color: @green;
              font-style: normal; 
              font-weight: bolder;
            }
          }//.summary
        }//.primary-email
        @group: ~'.summary, .action';
        @{group} { 
          float: left; 
        }
        .summary {
          width: 80%;
          position: relative;
          .email {
            color: @green;
            font-family: @serifFontFamily;
            font-style: italic;
            &.unverified {
              color: @grey;
              text-decoration: line-through;
            }
          }//.email
          .info {
            padding: 4px 5px;
            a { color: @dark; }
          }
        }//.summary
        .action {
          width: 20%;
        }//.action
      }//li
    }//.emails

    .notif-options {
      .clearfix();
      border-bottom: 1px dotted #e5e5e5;
      dt {
        float: left;
        width: 100px;
        padding: 13px 0;
      }//dt
      dd {
        border-top: 1px dotted #e5e5e5;
        .box(0;0);
        //border-bottom: 1px dotted #e5e5e5;
        .clearfix();
        .option {
          float: left;
          display: block;
          color: @grey;
          font-size: @fontSizeSmall;
          font-style: italic;
          text-decoration: line-through;
          width: 11%;
          padding: 13px 10px;
          border-left: 1px dotted #e5e5e5;
          overflow: hidden;
          position: relative;
          //cursor: pointer;
          &.frequency { width: 22%; padding-right: 30px; }
          &.email { width: 33%; padding-right: 50px; }
          &:last-child { border-right: 1px dotted #e5e5e5; }
          &.selected {
            color: @linkColor;
            text-decoration: none;
            background-color: fadeout(@green, 95%);
          }
          input {
            #positions > #abs > .bottomRight(0; 0);
          }//input
        }//.option
      }//dd
    }//.notif-options

    table.ssh {
      margin: 20px 0 50px;
      th {
        color: @grey;
        text-align: left;
        padding: 6px 10px; }
      td {
        border-color: #f0f1f4;
        padding: 5px 10px; }
      .name { font-weight: bold; }
      .md5 {
        color: @darkLight;
        font-family: @monoFontFamily;
        letter-spacing: -1px;
        font-weight: bold; }
      .action { font-size: .8em; }
    }//.ssh

    .relative-accounts {
      .unstyledList();
      li {
        font-size: 1.2em;
        padding: 10px 0;
        border-bottom: 1px solid #e5e5e5;
        &:first-child {
          border-top: 1px solid #e5e5e5;
        }
        .disconnect {
          float: right;
          font-size: .85em;
        }
      }//li
    }//.relative-accounts

    table.team {
      width: 100%;
      td {
        padding: 8px 10px;
      }//td
      .name {
        width: 40%;
        .label {
          font-size: @fontSizeSmall;
          font-weight: bold;
          padding: 2px 5px;
        }//.label
        a {
          font-size: 14px; 
          font-weight: bold;
          img {
            margin-right: 5px;
          }
        }//a
      }//.name
      .rights {
        width: 30%;
      }//.rights
      .action {
        width: 30%;
        float: none;
        text-align: right;
      }//.action
    }//.team
    .create-team {
      margin: 30px 0;
      .btn { font-size: 14px; display: inline-block; }
    }//.create-team
    .add-member {
      .create-team();
      input {
        padding: 2px 3px;
        width: 300px;
        height: 26px;
        line-height: 26px;
        margin-right: 2px;
      }
    }//.add-member

    .form-horizontal { 
      legend { 
        border-bottom: 1px solid #ddd;
        .ps {
        color: @grey;
        font-size: @fontSizeSmall;
        font-weight: 400;
        margin-left: 20px; } }
      .control-group {
        margin-bottom: 8px;
        .control-label {
          //color: @grey;
          font-size: @fontSizeSmall;
          font-weight: bold;
          padding: 7px 0; }
          .controls {
            margin-left: 110px;
            @controlsInputFields: ~"input[type='text'], input[type='password'], input[type='email'], input[type='url'], textarea";
            @{controlsInputFields} {
              margin: 0;
              height: 28px;
              width: 400px; }
            textarea {
              height: 100px; }
            .btn {
              display: inline-block;
              padding: 7px 10px; }
            button[type="submit"] {
              width: 100px; }
            p {
              margin: 3px;
              color: @grey; }
          }//.controls
        }//.control-group

      }//.form-horizontal
  }//.primary

  .subhead {
    .note {
      color: @darkLight;
      font-size: @baseFontSize;
      margin-left: 10px;
    }
  }//.subhead
  .resetpwd {
    margin: 0 auto;
    .clearfix();
    form {
      margin: 20px 0;
      .control-label { font-weight: bold; }
      .alert {
        margin-bottom: 10px;
        p { margin: 0;  }
      }//.alert
    }
  }//.resetpwd
}//.settings
