.user {

  // Graphs
  .graphs-container {
    margin-bottom: 40px;
    .progress {
      padding: 6px 0;
      .bar { padding: 6px 0; }
    }
  }

	// pulls
	#pull_container {
    .header { padding: 10px 0; }
    .pull.well { padding: 0; margin-bottom: 10px; background-color: white; border-color: #e5e5e5;
      .alert { margin: 10px; }
      .heading { margin: -1px -1px 0 -1px; .borderRadius(0); .linearGradient(top; #ffffff; #f5f5f5); border-width: 1px 1px 0; border-color: #e5e5e5 #e5e5e5 transparent; p { margin: 0; } h3 { float: left; margin: 0; a { font-size: 14px; } .label { line-height: 1; font-size: 12px; padding: 2px; .borderRadius(2px); .textShadow(none); } } }
      .meta { margin-bottom: 0; p { margin: 10px 0 0 0; }  color: @grey; a { color: @grey; } }
      .branches { display: block; .clearfix(); font-size: 14px; .btn { .borderRadius(0); float: left; text-indent: 10px; font-weight: 400; .boxShadow(none); border-color: #e5e5e5; border-width: 1px 0; .linearGradient(top; #f9f9f9; #f9f9f9); display: inline-block; padding: 8px 0; width: 50%; &:first-child { border-right: none; } &:last-child {  } } a { color: @darkLight; }  & + p { padding: 10px; margin-top: 0; } }
    }
	}

  // issues
  #issues_container {
    .table {
      td { 
        position: relative; 
        background-color: #f9f9f9; 
        .c_label { #positions > #abs > .topRight(5px; 10px); }
        .label-mini { font-weight: bold; display: inline-block; line-height: 1; padding: 2px 4px; .borderRadius(3px); }
      }
    }
  }

  // Notification
  #feeds_container {
    margin-top: 20px;
    .table {
      td { border-top: none; padding: 2px 10px; .unixtime { font-weight: normal; color: @grey; float: right; } .muted { font-weight: bold; } }
    }
  }

	// todo
	&.todo{
		#todo_container {
			padding: 15px 0;
			.todo-controls {
				.clearfix();
				input[type="text"] {
					width: 500px;
					height: 25px;
				}
				.todo-category {
					.clearfix();
					.dropdown { float: left; margin-right: 2px; 
						.dropdown-menu {
							a { display: block; font-size: 13px; text-decoration: none; font-weight: bold; padding: 3px 10px; &:hover { background-color: #e9e9e9; } }
							#id_addScene { border-top: 1px solid #ddd; margin-top: 5px; padding-top: 5px; }
						}
					}
				}
			}
			.todo-list {
				&#id_todoList {
					.todo-item { color: @black; font-weight: bold; cursor: move; background-color: white; }
				}
				&#id_todoneList { .cl_todo_text { text-decoration: line-through; } .todo-item { padding-left: 15px; } }
				.todo-item {
					color: @grey;
					font-size: @baseFontSize;
					padding: 4px 0;
					border-bottom: 1px solid #f3f3f3;
					position: relative;
					.drag-todo {
						float: left;
						margin-right: 10px;
						a { color: @greyLight; .opacity(0); }
					}
					.cl_todo_control { #positions > #abs > .topRight(4px; 0); .btn-mini { padding: 2px 5px; line-height: 1; font-size: 10px; i { margin-right: 0; } } }
					.cl_todo_text { margin: 0; }
				}
			}
		}
	}


	.member {
		position: relative;
		border-bottom: 4px double @greyLight;
		margin-bottom: 20px;
    .avatar {
      border: 1px solid #ccc;
      padding: 3px; 
      .borderRadius(3px);
      .boxShadow(0 1px 3px fadeout(@black, 85%));
    }
		.info { 
			float: none; 
			position: relative;
      height: 108px;
			.name { font-size: 20px; span { font-size: 14px; color: @grey; } }
			.meta {
				line-height: 22px;
			}
			#id_watch_user {
				padding: 5px 25px;
				#positions > #abs > .bottomRight(0; 0);
			}
		}
		.actions {
			#positions > #abs > .topRight(0; 0);
			li {
				padding: 5px 15px;
				text-align: center;
        .bordered(dotted; ~"1px 1px 1px 1px"; #ddd);
        &.first { .borderRadius(2px 0 0 2px); }
        &.last { .borderRadius(0 2px 2px 0); }
        margin-right: -1px;
				.link { font-size: 22px; font-weight: 500; }
				.muted { font-weight: bold; font-size: 12px; display: block; padding-top: 5px; border-top: 1px dotted #ddd; }
			}
		}
	}

	.bubble-inner {
		width: 100%;
		.clearfix();
		.left, .right{ float: left; }
		.heading {
			color: @dark;
			padding: 5px 0;
			font-size: 15px;
			.more {
				font-size: 11px;
				float: right;
				text-decoration: underline;
			}
		}
		.left{ 
			width: 75%; 
			#repo-tab {
				padding: 0;
				margin-right: 20px;
				font-size: 14px;
				border-bottom-color: #e5e5e5;
				.active a { color: @dark; }
				a { color: @grey; padding: 5px 25px; text-decoration: none; }
			}
			&.user-repos {
				.dropdown {
					padding-bottom: 10px;
					border-bottom: 1px solid #ddd;
					.btn { display: inline-block; }
					.dropdown-menu {
						margin: -10px 0 0; top: 100%; 
						a { display: block; font-weight: bold; color: @dark; padding: 4px 10px; &:hover { text-decoration: none; background-color: #e8e8e8; } }
						.create {
							border-top: 1px solid #e5e5e5;
							margin-top: 10px;
						}
					}
				}
				.repo {
					position: relative;
					padding: 15px 0;
					.heading, p { margin: 0; }
					.actions {
						#positions > #abs > .topRight(20px; 0);
					}
					.detail {
						.meta { color: @grey; margin: 5px 0; }
					}
					.list {
						.unstyledList();
						margin-top: 10px;
						padding: 5px 8px;
						line-height: 18px;
						border-left: 2px solid #849bec;
            background-color: #eee;
						a { color: @dark; }
						li {
							code { font-family: @monoFontFamily; font-weight: bold; }
							.date { color: grey; float: right; }
						}
					}
				}
			}
			.item {
				padding-right: 20px;
				padding-bottom: 20px;
				margin-bottom: 20px;
				#id_lastest_active {
					.unstyledList();
          border-left: 3px solid @linkColor;
          padding-left: 15px;
					li {
            font-weight: bold;
						padding: 3px 0;
						border-bottom: 1px dotted #ddd;
            time { color: @grey; margin-left: 10px; font-weight: normal; }
					}
				}
				&.watched-repos {
					.list { .unstyledList(); 
						li { position: relative; padding: 10px 0; border-bottom: 1px dashed #ddd; }
						.heading, p { margin: 0; }
						.actions {
							#positions > #abs > .topRight(10px; 0);
						}
					}
				}
				&.tab-pane {
					display: none;
					&.active { display: block; }
					.list {
						.unstyledList();
						li {
							padding: 10px 0; 
							border-bottom: 1px dashed #ddd;
							.heading { color: @linkColor; font-size: 14px; font-weight: bold; border-bottom: 0; margin: 0; padding: 0; .modified { font-size: 12px; font-weight: normal; color: @grey; margin-left: 10px; } .unixtime { color: @grey; margin-left: 10px; }  }
							p { margin: 0; }
						}
					}
					.more { text-decoration: underline; }
				}
			}
		}
		.sidebar { 
			width: 25%; 
			.item { margin-bottom: 20px; padding-bottom: 20px;
				border-bottom: 1px solid #eee; }
		}
		.half { width: 50%; }
	}


}


.popover {
	width: 200px;
	border: 1px solid fadeout(@black, 75%);
	.boxShadow(0 0 3px fadeout(@black, 80%));
	.popover-title {
		color: @dark;
		font-size: @baseFontSize;
		margin: 0;
		padding: 3px 10px;
		.linearGradient(top; #fff; #f5f5f5);
		border-bottom: 1px solid #ccc;
	}
	.popover-content {
		padding: 10px;
		font-size: @baseFontSize;
		font-weight: normal;
	}
	&.bottom {
		.arrow { left: 50%; border-bottom-color: fadeout(@black, 60%); }
	}
}
