.clearfix {
	*zoom: 1;
	&:before, &:after {
		content: "";
		display: table;
		line-height: 0; }
		&:after { 
			clear: both; } }

.reset { 
	.box(0, 0); }

.visible {
	visibility: show; }

.invisible {
	visibility: hidden; }

.pull-left {
	float: left; }

.pull-right {
	float: right; }

.unstyledList {
	.reset();
	list-style: none; }

.hide {
	display: none; }

.pull-item {
  padding: 10px;
  border-bottom: 1px solid #f1f1f1;
  .clearfix();
  .widget {
    float: left;
    //margin-right: 40px;
    .status {
      .label();
      color: white;
      font-size: 10px;
      font-weight: bold;
      text-align: center;
      border-bottom: 1px solid rgba(0, 0, 0, .25);
      padding: 4px 0 3px;
      width: 50px;
      background-color: #4a6788;
      position: relative;
      top: -2px;
      &.open { background-color: #1fbc99; }
      &.failure { background-color: #e74e34; }
      &.merge { background-color: #3297e1; }
      &.closed { background-color: #e74e34; }
      &.rejected { background-color: #e74e34; }
    }//.status
    .branches {
      display: none;
      border-left: 1px solid #ddd;
      padding-left: 5px;
      .branch {
        .label();
        font-family: monaco, @monoFontFamily;
        //font-weight: bold;
        font-size: 10px;
        letter-spacing: -1px;
        padding: 3px 5px;
        //width: 60px;
      }//.branch
      .arrow-right { display: none; color: @greyLight; margin: 0 2px; i { margin: 0; } }
    }//.branches
  }//.widget
  .summary {
    margin-left: 60px;
    .heading {
      font-size: @baseFontSize;
      margin: 0;
      a { color: @dark; }
      .id {
        float: right;
        color: @greyLight; 
        font-weight: normal;
        text-decoration: none;
      }//.id
    }//.heading
    .desc {
      //display: none;
      color: @darkLight;
      &.unavailable { font-style: italic; color: @grey; }
      p { margin: 0; }
    }//.desc
    .meta {
      //display: none;
      color: @greyLight;
      font-size: @fontSizeSmall;
      a { color: @greyLight; }
      img { position: relative; bottom: -5px; .borderRadius(2px); display: none; }
    }//.meta
  }//.summary
}//.pull-item
