// Color
@white:        #fff;
@black:        #000;
@dark:         #333;
@darkLight:    #555;
@grey:         #999;
@greyLight:    #ccc;

@blue:         #049cdb;
@blueDark:     #0064cd;
@green:        #3d9f00;
@red:          #9d261d;
@yellow:       #ffc40d;
@orange:       #f89406;
@pink:         #c3325f;
@purple:       #7a43b6;

@linkColor:       @linkColorHover;
@linkColorLight:  #538dc2;
@linkColorHover:  #12c;

@textInfoColor:     @blue;
@textSuccessColor:  @green;
@textWarningColor:  @orange;
@textDangerColor:   @red;
@textErrorColor:    @red;


// Font
@sansFontFamily:   "Helvetica Neue",Helvetica,Arial,sans-serif;
@serifFontFamily:  Georgia "Times New Roman", Times, serif;
@monoFontFamily:   Menlo, Consolas, Monaco, "Courier New", monospace;

@baseFontSize: 13px;
@baseFontFamily: @sansFontFamily;
@baseLineHeight: 18px;
@altFontFamily: @serifFontFamily;

@fontSizeLarge: @baseFontSize * 1.25;
@fontSizeSmall: 12px;
@fontSizeMini: 11px;


// zIndex
@zindexDropdown:     1000;
@zindexPopover:      1010;
@zindexTooltip:      1020;
@zindexFixedNavbar:  1030;


// Sprite icons path
@iconSpritePath: "/static/img/icons.png";
