.url-container {
	position: relative;
	margin-top: -20px;
	margin-bottom: 20px;
	border-style: solid;
	border-width: 0 1px 1px;
	border-color: transparent #d5d5d5 #d5d5d5;
	background-color: #f5f5f5; }
	.url-container #toggle-arrow {
		color: #737373;
		text-decoration: none;
		text-align: center;
		position: absolute;
		top: -14px;
		left: -30px;
		margin-left: 50%;
		width: 60px;
		height: 13px;
		border-radius: 2px 2px 0 0;
		-moz-border-radius: 2px 2px 0 0;
		-webkit-border-radius: 2px 2px 0 0;
		-o-border-radius: 2px 2px 0 0;
		background-color: #ddd; }
		.url-container #toggle-arrow:hover {
			color: white;
			background-color: #666; }
		.url-container #toggle-arrow i {
			margin-right: 0; }
	.url-container .url-select,
	.url-container .url-data {
		float: left;
		display: block;
		color: #183d8a;
		font-weight: bold;
		line-height: 28px;
		text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
		-moz-text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
		-webkit-text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
		-o-text-shadow: 1px 1px 0 rgba(255, 255, 255, .15);
		height: 30px;
		padding: 0 10px;
		margin-right: -1px;
		border: 1px solid #3a5ca4;
		background-color: #436abc;
		box-shadow: 1px 1px 0 rgba(255, 255, 255, .1) inset;
		-moz-box-shadow: 1px 1px 0 rgba(255, 255, 255, .1) inset;
		-webkit-box-shadow: 1px 1px 0 rgba(255, 255, 255, .1) inset;
		-o-box-shadow: 1px 1px 0 rgba(255, 255, 255, .1) inset;
		cursor: pointer; }
	.url-container .url {
		margin: 10px; }
		.url-container .url dt,
		.url-container .url dd {
			margin: 0;
			float: left; }
		.url-container .url-select.active,
		.url-container .url-select:hover {
			text-decoration: none;
			background-color: #5074c2;
			border-color: #3a5ca4;  }
		.url-container .url-select.first {
			border-radius: 2px 0 0 2px;
			-moz-border-radius: 2px 0 0 2px;
			-webkit-border-radius: 2px 0 0 2px;
			-o-border-radius: 2px 0 0 2px; }
		.url-container .url-select.last {
			border-radius: 0 2px 2px 0;
			-moz-border-radius: 0 2px 2px 0;
			-webkit-border-radius: 0 2px 2px 0;
			-o-border-radius: 0 2px 2px 0; }
	.url-container .url-data {
		color: rgba(255, 255, 255, .8);
		text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
		-moz-text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
		-webkit-text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
		-o-text-shadow: 1px 1px 0 rgba(0, 0, 0, .1);
		width: 500px; }
	.url-container .url-holder {
		font-family: menlo, sans-serif; }
		.url-container .url-git,
		.url-container .url-gitshell {
			color: rgba(255, 255, 255, .55); }
	.url-container .url-js-copy {
		color: #183d8a;
		text-decoration: none;
		font-weight: bold; }
	.url-container .url-info {
		position: relative;
		float: left;
		color: white;
		font-weight: bold;
		padding: 6px 10px;
		margin: 3px auto auto 10px;
		border: 1px solid #d83912;
		border-radius: 2px;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		-o-border-radius: 2px;
		background-color: #ef4012; }
		.url-container .url-info:before {
			position: absolute;
			top: 7px;
			left: -5px;
			content: "";
			border-style: solid;
			border-width: 5px 5px 5px 0;
			border-color: transparent #ef4012 transparent transparent; }
